.headerDiv {
    background-color: #fff;
    /* padding-right: 10px; */
}

.logoDiv {
    padding-left: 40px;
    padding-right: 40px;
    padding-top:12px;
    padding-bottom:12px;
    border-right: 1px solid rgba(230, 231, 239, 0.85);

}

.rlogo {
    height: 20px;
    margin-right: 10px;
    margin-bottom: 3px;
}

.logoDiv h4 {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #397EF6;
    margin-top: 5px;
}

/*.headerleftDiv div:first-child {
    margin-right: 50px;
}*/

.headerinputfield {
    border: none !important;
    width: 100%;
    margin-right: 10px;

}

.addNewOrderDiv {
    padding-left: 25px;
    padding-right: 25px;

}

.addNewOrderDiv a, .uploadfilesDiv a, .chatDiv a {
    font-size: 13px;
}



.headerleftDiv a {
    text-decoration: none;
    color: #397EF6;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.adminWelcomeDiv h6 {
    font-size: 13px;
    color: #747b7f;
    font-weight: 400;
}

.addNewOrderDiv i, .uploadfilesDiv i {
    margin-right: 12px;
    margin-top: 3px;
    font-size: 12px;
    color: #0066ff;
}

.userprofile i {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    vertical-align: middle;
    padding: 15px;
    background-color: #63d6ff;
    display:block;
}

.neworderschart {
    padding: 10px;
    background-color: #63d6ff;
    border-radius: 50%;
    margin-right: 30px;
    margin-left: 30px;
}

.usdicon i, .areacharticon i, .hornicon i {
    width: 45px;
    height: 45px;
    border-radius: 8px;
    text-align: center;
    line-height: 15px;
    vertical-align: middle;
    padding: 15px;
    display: block;
}

.usdiconDiv, .areacharticonDiv, .horniconDiv {
    margin-right: 20px;
    margin-left: 20px;
}

.usdicon i, .areacharticon i, .hornicon i {
    background-color: rgba(57, 126, 246, 0.06);
}

.userprofile i {
    color: #ffffff;
}

.inputfieldDiv, .addNewOrderDiv, .chatDiv {
    border-right: 1px solid rgba(230, 231, 239, 0.85);
}

.inputfieldDiv i {
    margin-right: 8px;
    color: #6F7D97;
}



.topnavbar {
    /*background-color: #EBECF3 !important;*/
    background-color: #fff !important;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #EBECF3;

}

.topnavbar .fa-circle-o-notch {
    margin-right: 5px;
}

.topnavbar .dropdown-toggle::after {
    content: none;
}

.topnavbar .dropdown-toggle {
    /*background-color: #1034A6;*/
    background-color: #fff;
    margin-right: 10px;
    border: 1px solid #EBECF3;
}

.topnavbar .dropdown-toggle:hover, .topnavbar .dropdown-toggle:focus {
    background-color: #97A0B4 !important;
}

.topnavbar .navbar-nav .nav-link {
    color: black !important;
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
}

.topnavbar .topnavbar .dropdown-toggle:focus, .topnavbar .topnavbar .dropdown-toggle:hover {
    color: #fff !important;
}

.topnavbar .nav-link:focus, .topnavbar .nav-link:hover {
    color: #fff !important;
}


.topnavbar .dropdown-item {
    background-color:  #FBFBFB;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    padding-left: 15px;
}

.topnavbar .dropdown-item:last-child {
    margin-bottom: 0px;
}

.topnavbar .dropdown-menu {
    background-color: white;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 0px;
}

.topnavbar a {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
}

.hiAdminText {
    color: #263238;
    font-size: 20px;
    font-weight: 400;
}


.bodyMainDiv {
    padding-left: 17px;
    padding-right: 17px;
    /*padding-top: 7px;*/
    padding-bottom: 33px;
    /*background-color: #e9ecef;*/
    width: 100%;
}

html, body {
    height: 100%;


}

body {
    background-color: #F8F8FA;
}

.toast{ flex-basis: 0px;background-color:#5BBB5D;border-color: #fff;right: 0;position: absolute;top: 0;margin-right: 25px;margin-top: 10px; }

.topbreadcrumb {
    padding-left: 0px;
    background-color: #F8F8FA;
}

.topbreadcrumb a, .topbreadcrumb li {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    color: #6F7D97;
}

.firstTable table th, .secondTable table th {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 3px;
    padding-right: 3px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #535353 !important;

}

.firstTable table thead th, .secondTable table thead th {
    border-top: none;
    border-bottom: 1px solid rgba(230, 231, 239, 0.85);
}

.firstTable table td, .secondTable table td {
    /*font-family: Rubik;*/
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #666666 !important;
    padding-left: 3px;
}



.firstTable table, .secondTable table {
    background-color: white;
    border-radius: 5px;
}

.firstTable, .secondTable {
    padding-right: 0px;

}



.firstTable tbody th, .firstTable tbody td, .secondTable tbody th, .secondTable tbody td {
    color: #878888;
    border-top: 1px solid rgba(230, 231, 239, 0.85);
}

.firstTableDiv, .secondTableDiv {
    background-color: white;
    height: 303px;
    padding-left: 20px;
    padding-right: 20px;
}

tbody tr:hover {
    background-color: rgba(57, 126, 246, 0.06) !important;
}

.statsBoxDiv {
    height: 100%;
}

.newordersbodyDiv {
    background-color: white;
    margin-bottom: 10px;
}

.newordersbodyDiv .fa.down {
    color: #FF425D;
}

.newordersbodyDiv .fa.up {
    color: #49C288;
}

.newordersbodyDiv .fa-usd,
.newordersbodyDiv .fa-area-chart,
.newordersbodyDiv .fa-microphone {
    color: #397EF6;
}

.navbarMainDiv {
    padding-top: 7px;
    padding-bottom: 7px;
}



.dropdownbtn, .dropdownbtn:hover, .dropdownbtn:active {
    background-color: #F8F8FA !important;
    color: #888888 !important;
    border: 1px solid #CFCFCF;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding-right: 20px;
    /* identical to box height */


    color: #888888;
}

.iconDiv {
    background-color: white !important;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}


.statsDiv span i {
    color: #979797;
}

.iconrighttextDiv h3 {
    color: #5C6B87;
    line-height: 0.1;

    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.iconrighttextDiv p {
    color: #000000;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.mapDiv {
    /*margin-top: 10px;*/
}

/*
.googlemap {
    width: 100%;
}*/

/*.mapImage {
    width: 100%;
    height: 845px;
}*/

.driverDiv {
    background-color: white;
    height: 500px;
    padding-left: 20px;
    padding-top: 20px;
}

.driverpic {
    border-radius: 50%;
    height: 80px;
}

.profileNameDiv {
    margin-top: 17px;
}

.tablerow {
    margin-bottom: 20px;
}

.profilepicDiv {
    margin-right: 30px;
}

html {
    overflow-x: hidden;
}

.dropdowntwo {
    margin-right: 20px;
}

#map-canvas {
    height: 552px;
}

#map-canvas2 {
    height: 461px;
}

#map-canvas3 {
    height: 687px;
}

#map-canvas4 {
    height: 674px;
}

#vrmap-canvas {
    height: 789px;
}

.rmMapCol {
    padding-left: 0px;
}

.routingDetailsMainDiv {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.routingDetailsDiv h6:first-child {
    margin-right: 10px;
    color: #5ABCDB;
}

.routingDetailsDiv h6 small {
    margin-right: 10px;
    color: #878888;
}

.sharedPubliclyDiv h6 small {
    color: #878888;
}

.stevejobDiv h5 {
    color: dimgrey;
}

.stevejobDiv h5:last-child {
    line-height: 0.5;
}

.stevejobDiv span {
    color: #878888;
}

.likeNcommentDiv {
    padding-top: 10px;
    padding-left: 10px;
}

.likeNcommentDiv h6 {
    color: #878888;
}

.profilePicDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profilePicDiv img {
    height: 27px;
    width: 27px;
}



.overlay {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: white;
    position: relative;
}

.profilepicMainDiv {
    padding-right: 20px;
}

.painterDiv h6 {
    color: #878888;
}

.painterDiv h6 span {
    color: background;
}

.profileParentDiv {
    margin-bottom: 20px;
}

.profile-body {
    background-color: #fff;
}

.routesheaderDiv {
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
}

.tabContentDiv {
    background-color: #EBECF3;
}

.tabContentDiv2 {
    padding-left: 15px;
}

.contentDetailschildDiv {
    background-color: #fff;
    padding-left: 17px;
    padding-top: 0px;
    padding-bottom: 7px;
    padding-right: 20px;
}

.contentImgDiv {
    margin-right: 10px;
    margin-top: 10px;
}

.contentImgDiv .deliveryIcon i {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    vertical-align: middle;
    padding: 10px;
    background-color: #F8F8FA;
    color: #7C7C7C;
    display: block;
}


.iconRightDiv {
    border-bottom: 0.5px solid rgba(216, 216, 216, 0.5);
    margin-top: 17px;
}

.iconRightDiv h5 {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
    color: #000000;
    line-height: 0.8;
}

.iconRightDiv  .addressHeading {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #666666;
    margin-bottom: 7px;

}

.iconMainDiv  .sizeHeading {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #666666;
    margin-top: 10px;

}
.iconMainDiv {
    width: 100%;
}

.contentBtnDiv .completedBtn {
    margin-right: 7px;
    padding: 5px 15px;
    border: 1px solid gray;
    border-radius: 4px;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    color: black;
}

.contentBtnDiv .completedBtn {
    /*color: #B0B1B8;*/
    /*color: white;*/
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    border-color: #79DE79;
}

.contentBtnDiv .detailsBtn {
    color: black;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    /*background-color: #79DE79;*/
}

.contentBtnDiv .returnDetailBtn {
    color: black;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    /*background-color: #79DE79;*/
}

.contentBtnDiv .orderIssueBtn {
    color: black;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    border-color: #FB6962 !important;
}

.contentBtnDiv .detailsBtn {
    padding: 5px 16px;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    text-decoration: none;

}

.contentBtnDiv .returnDetailBtn {
    padding: 5px 21px;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    text-decoration: none;
}

.contentBtnDiv .startBtn {
    padding: 3px 50px;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    color: white;
    background-color: #0066ff;
    text-decoration: none;
}

.modifyBtnDiv {
    margin-left: 25px;
    margin-bottom: 20px;
}

.modifyBtn {
    padding: 4px 13px;
    border: 1px solid #397EF6;
    border-radius: 4px;
    color: #397EF6;
    background-color: #EBECF3;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

.contentBtnDiv i {
    margin-right: 10px;
}

.ContentDetailsDiv {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    /*padding-bottom: 25px;*/
}

.contentDetailschildDiv h6 {
    /*color: #878888;*/
}


.contentBtnDiv .fa-check-circle {
    font-size: 28px;
    color: #62bd38;
}

.contentBtnDiv .fa-external-link-square {
    font-size: 28px;
    color: #ff0033;
}

.routesheaderDiv .fa-angle-left {
    font-size: 30px;
    font-weight: bold;
}

.nav-wrapper .nav-link {
    color: #878888;
    font-weight: bold;
}

.nav-wrapper .nav-link.active {
    color: #212529;
}

.nav-link.active {
    border-bottom: 3px solid #0066ff;
}

.progressStep {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    /*line-height: 15px;*/
    vertical-align: middle;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 19px;
    background-color: #d8d9e6;
}

.progressStepTwo {
    border-radius: 50px;
    height: 14px;
    width: 14px;
    position: relative;

    text-align: center;
    /*line-height: 15px;*/
    vertical-align: middle;
    /*padding: 10px;*/

}

.progressStepTwo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progressStepTwoBg1 {
    background-color: #49C288;
}

.progressStepTwoBg2 {
    background-color: #FF3A3A;
}

.progressStepTwoBg3 {
    background-color: #979797;
}
.progressStepTwo i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 100;
    font-size: 10px !important;
}

.stepProgressUl {
    margin-top: 80px;
    padding-left: 15px;
}

.stepProgressUl li {
    list-style: none;
    position: relative;
    height: 215px;

}

.stepProgressUl li:after {
    content: "";
    border: 1px solid #E2E2E2;
    height: 97px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progressCheckIcon {
    color: #ffffff;
    font-size: 13px !important;
}






.nrProgressStep {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    text-align: center;
    /*line-height: 15px;*/
    vertical-align: middle;
    padding: 6px;
    background-color: #d8d9e6;
}

.nrProgressStepTwo {
    border-radius: 50px;
    height: 14px;
    width: 14px;
    position: relative;

    text-align: center;
    /*line-height: 15px;*/
    vertical-align: middle;
    /*padding: 10px;*/

}

.nrProgressStepTwoBg1 {
    background-color: #49C288;
}

.nrProgressStepTwoBg2 {
    background-color: #FF3A3A;
}

.nrProgressStepTwoBg3 {
    background-color: #979797;
}
.progressStepTwo i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 100;
    font-size: 10px !important;
}

.nrStepProgressUl {
    margin-top: 81px;
    padding-left: 15px;
}

.nrStepProgressUl li {
    list-style: none;
    position: relative;
    height: 183px;

}

.nrStepProgressUl li:after {
    content: "";
    border: 1px solid #E2E2E2;
    height: 150px;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nrProgressCheckIcon {
    color: #ffffff;
    font-size: 13px !important;
}







.rmProgressStep {
    width: 22px;
    height: 22px;
    border-radius: 50px;
    text-align: center;
    /*line-height: 15px;*/
    vertical-align: middle;
    padding: 5px;
    background-color: #d8d9e6;
}

.rmProgressStepTwo {
    border-radius: 50px;
    height: 12px;
    width: 12px;
    position: relative;

    text-align: center;
    /*line-height: 15px;*/
    vertical-align: middle;
    /*padding: 10px;*/

}

.rmProgressStepTwoBg1 {
    background-color: #49C288;
}

.rmProgressStepTwoBg2 {
    background-color: #FF3A3A;
}

.rmProgressStepTwoBg3 {
    background-color: #979797;
}
.rmProgressStepTwo i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 100;
    font-size: 10px !important;
}

.rmStepProgressUl {
    margin-top: 58px;
    padding-left: 15px;
}

.rmStepProgressUl li {
    list-style: none;
    position: relative;
    height: 160px;

}

.rmStepProgressUl li:nth-child(3) {
    height: 147px;
}

.rmStepProgressUl li:last-child {
    height: 57px;
}

.rmStepProgressUl li:nth-child(1):after, .rmStepProgressUl li:nth-child(2):after {
    content: "";
    border: 1px solid #E2E2E2;
    height: 129px;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rmStepProgressUl li:nth-child(3):after {
    content: "";
    border: 1px solid #E2E2E2;
    height: 116px;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rmProgressCheckIcon {
    color: #ffffff;
    font-size: 13px !important;
}











.vrProgressStep {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    text-align: center;
    /*line-height: 15px;*/
    vertical-align: middle;
    padding: 6px;

}

.vrProgressStep1 {
    background-color: dimgrey;
}

.vrProgressStep2 {
    background-color: #ffffff;
}

.vrProgressStepTwo {
    border-radius: 50px;
    height: 33px;
    width: 33px;
    position: relative;

    text-align: center;
    /*line-height: 15px;*/
    vertical-align: middle;
    background-color: darkslategray;
    /*padding: 10px;*/

}



.vrProgressStepTwo i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 100;
    font-size: 19px !important;
    color: #ffffff;
}

.vrStepProgressUl {
    margin-top: 42px;
    padding-left: 15px;
    margin-bottom: 0px;
}

.vrStepProgressUl li {
    list-style: none;
    position: relative;
    height: 207px;

}



.vrProgressStepBefore:before {
    content: "";
    border: 4px solid #ffffff;
    height: 42px;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vrStepProgressUl li:after {
    content: "";
    border: 4px solid #ffffff;
    height: 203px;
    position: absolute;
    top: 71%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.timelineDiv {
    background-color: #e9ecef;
}

.timelineDiv2 {
    padding-bottom: 41px;
}

.timelineDiv1 {
    margin-top: 40px;
}

.timelineRightDiv {
    background-color: #ffffff;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 20px;
    width: 100%;

}

.timelineleftDiv {
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
    width: 30%;
    text-align: right;
}


.timelineImage {
    border-radius: 50px;
    height: 33px;
    width: 33px;
}






.odProgressStep {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    text-align: center;
    /*line-height: 15px;*/
    vertical-align: middle;
    padding: 6px;

}

.odProgressStep1 {
    background-color: dimgrey;
}

.odProgressStep2 {
    background-color: #ffffff;
}

.odProgressStepTwo {
    border-radius: 50px;
    height: 33px;
    width: 33px;
    position: relative;

    text-align: center;
    /*line-height: 15px;*/
    vertical-align: middle;
    background-color: darkslategray;
    /*padding: 10px;*/

}



.odProgressStepTwo i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 100;
    font-size: 19px !important;
    color: #ffffff;
}

.odStepProgressUl {
    margin-top: 42px;
    padding-left: 15px;
    margin-bottom: 0px;
}

.odStepProgressUl li {
    list-style: none;
    position: relative;
    height: 207px;

}



.odProgressStepBefore:before {
    content: "";
    border: 4px solid #F8F8FA;
    height: 42px;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.odStepProgressUl li:after {
    content: "";
    border: 4px solid #F8F8FA;
    height: 203px;
    position: absolute;
    top: 71%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.odTimelineDiv {
    background-color: #e9ecef;
}



.timelineRightDiv {
    background-color: #ffffff;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 20px;
    width: 100%;

}

.timelineleftDiv {
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
    width: 30%;
    text-align: right;
}


.odtimelineImage {
    border-radius: 50px;
    height: 33px;
    width: 33px;
}

.odTimelineDiv2 {
    padding-bottom: 41px;
}




.contentBtnDiv .orderIssueBtn {
    /*width: 140px;*/
    margin-right: 7px;
    padding: 5px 15px;
    border: 1px solid gray;
    border-radius: 4px;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}

.contentRightMainDiv {
    width: 100%;
}

.contentTabsUL li:first-child {
    margin-left: 40px;
}

.contentTabsUL li:nth-child(2) {
    /*margin-left: 60px;*/
}

.requesttable {
    background-color: #fff;
    height: 100vh;
}

/*.requesttable a, .requesttable a:hover,.requesttable a:focus, .modal-footer .btn-primary, .modal-footer .btn-primary:hover, .modal-footer .btn-primary:focus {
    background-color:white !important;
    color: #666666 !important;
    border: 1px solid grey;
}*/

.filterbtn {
    background-color: #F8F8FA !important;
    color: #666666 !important;
    border: 1px solid #CFCFCF;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.filterbtn2 {
    background-color: #F8F8FA !important;
    color: #666666 !important;
    border: 1px solid #CFCFCF;
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}

.dropdown-item {
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}

.dropdown-item:not(:last-child) {
    border-bottom: 1px solid #EAEAEA;
}

.dropdown-item:not(:last-child){
    padding-bottom: 10px;
}

.dropdown-item:not(:first-child){
    padding-top: 10px;
}

/*.btnrow .dropdown-item:not(:first-child), .dropdown-item:not(:last-child){
    padding-bottom: 10px;
}*/


.topnavbar .dropdown-item:last-child {
    padding-bottom: 10px;
}

.dropdown-item:last-child {
    padding-bottom: 2px;
}

.btnrow {
    margin-bottom: 10px;
}

.btnrow .dropdown {
    margin-right: 20px;
}



.orderDetailTable {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.topBtnDiv a:not(:nth-child(4)) {
    margin-right: 20px;
}

.topOrderMainDiv {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
}

.orderDetailsDiv div .div1, .orderDetailsDiv div .div2, .orderDetailsDiv div .div3, .orderDetailsDiv div .div4 {
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
    height: 100%;
    border-radius: 4px;
}
.orderDetailsDiv div .div4 {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100%;
}

.orderDetailsDiv ul {
    list-style-type: none;
    padding-left: 0px;
}

.orderDetailsUL li div div:last-child {
    width: 60%;
    /*font-size: 20px;*/
}

.orderDetailsUL li div div:first-child {
    font-weight: bold;
    margin-bottom: 15px;
    /*font-size: 20px;*/
}


.topBtnDiv .btn-info {
    /*    border-radius: 25px !important;
        border: 1px solid grey;
        background-color: #fff !important;
        color: grey;*/

    background-color: #337AB7;
    color: #ffffff !important;
    border: none;
    border-radius: 30px;
    height: 46px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 9px;
}

.extrachargeDiv {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 4px;
}

.extrachargeDiv .submitbtn {
    background-color:#ccc;
    color: #ffffff !important;
    border: none;
}

.extrachargeDiv .submitbtn:hover {
    background-color: #ccc !important;
    color: #ffffff !important;
    border: none;
}


.label {
    font-size: 14px;
    font-weight: 500;
    color: #505050;
}

.orderDetailsDiv {
    padding-top: 10px;
}

.orderDetailsUL li {
    margin-bottom: 10px;

}

.itemsDiv h6 {
    font-weight: 400;
}

.itemphoto {
    /*border-radius: 50%;*/
    height: 80px;
    width: 80px;
}

.form2 {
    margin-top: 450px;
}

.form2 {
    display: none;
}

.reviewOrderDiv {
    display: none;
}

.formColDiv .btn-white {
    border: 1px solid grey;
}

.reviewOrderDiv ul {
    list-style-type: none;
    padding-left: 0px;
}

.reviewOrderDiv ul div div:last-child {
    margin-left: 10px;
    width: 50%;
}

.reviewOrderDiv ul div div:first-child {
    font-weight: bold;
    width: 50%;
}

.dumpSearchBox {
    /*padding-bottom: 10px;*/
    padding-top: 2px;
    padding-bottom: 2px;
    height: auto;
}

.extrachargeDiv .colorInput {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.requesttable .tableColorInput {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.btnrow .addNewBtn, .btnrow .addNewBtn:active, .btnrow .addNewBtn:focus {
    background-color:#397EF6 !important;
    color: #ffffff !important;
    border-radius: 3px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.addNewBtn {
    border-radius: 30px;
}

.cancelSubscriptionBtn {
    background-color:#FF5F5F !important;
    color: #ffffff !important;
    border-radius: 3px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.discountFieldDiv div {
    width: 48%;
}

.additionalSettingsTabMainDiv {
    background-color: #fff;
    height: 100vh;
}

.officeClosedDiv div:first-child {
    margin-right: 5px;
}

.officeClosedTable tr td {
    vertical-align: middle;
    /*border-top: none;*/

}

.officeClosedTable tr td:first-child {
    text-align: center;
}

.officeClosedTable {
    margin-bottom: 0px;
    margin-top: 50px;
}

.officeClosedTable td:first-child {
    padding-left: 15px !important;
}

.formBackgroundDiv {
    background-color: #fff;
    border-radius: 4px;
}



.leftFormBackgroundDiv {
    background-color: #fff;
}

.rightTableDiv {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.requesttable2 {
    background-color: #ffffff;
}

.extrachargeDiv select, .extrachargeDiv input.form-control {
    border-radius: 4px;
    border: 1px solid #e8ecec;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 35px;
    padding-top: 4px;
    line-height: 1.5;
}

.brandingFormDiv select,
.brandingFormDiv input.form-control,
.stat-profile select,
.stat-profile input.form-control {
    border-radius: 4px;
    border: 1px solid #e8ecec;
    margin-bottom: 5px;
    height: 36px !important;
}

.extrachargeDiv input.btn {
    border-radius: 3px;
    /*height: 36px;*/
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    background-color: #397EF6;
    color: #ffffff;
    padding-top: 5px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

}

.extrachargeDiv button.btn {
    border-radius: 3px;
    height: 35px !important;
    padding-top: 4px !important;
}

.extrachargeDiv label {
    font-size: 14px;
    font-weight: 500;
    color: #505050;
}

.formSectionWrapper label {
    font-size: 14px;
    font-weight: 500;
    color: #505050;
}


.formWithDropdown div {
    margin-bottom: 15px;
}

.formHeading {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.formHeadingDiv .formHeading {
    font-size: 20px;
}

.formHeadingDiv {
    padding-top: 10px !important;
    padding-bottom: 0px !important;
    margin-left: 15px;
}

.formWithDropdown button {
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.addroutebtn {
    border-radius: 30px;
    height: 46px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    background-color: #ccc;
    color: #ffffff;
    padding-top: 5px;
}

.driverImageDiv {
    /*margin-bottom: 20px;*/
}

.modal-dialog button {
    border-radius: 3px;
    padding-top: 4px;
    padding-bottom: 6px;
    padding-left: 25px !important;
    padding-right: 25px !important;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}
.modal-dialog-custom button {
    border-radius: 3px;
    padding-top: 4px;
    padding-bottom: 6px;
    padding-left: 25px !important;
    padding-right: 25px !important;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.modal-footer button, .modal-footer button:hover, .modal-footer button:focus {
    color: #ffffff !important;
    border: none;
}

.modal-footer button:first-child {
    background-color: #397EF6 !important;
}

.modal-footer button:last-child {
    background-color: #FF5F5F !important;
}

.footer {
    background-color: #fff;
    height: 50px;
    /*    left: 0;
        bottom: 0;
        right: 0;
        position: fixed;*/
}

/*.footer div {
    width: 50%;
}*/

.footerLink {
    padding-right: 30px;
}

.footerLink a {
    margin-right: 40px;
    text-decoration: none;
    color: #8b8b8b;
    float: left;
    font-size: 13px;
}

.footer h6 {
    color: #919191;
    font-size: 13px;
    margin-bottom: 0px;
}

.extrachargeDiv .formSubmitBtnDiv {
    margin-top: 25px;
}

.nextbtnForm1 {
    width: 90px;
}

.formSubmitBtnDiv button {
    padding-left: 25px;
    padding-right: 25px;
}



.requesttable span {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 4px;

}

.pac-container {
    z-index: 10000 !important;
}

.requesttable a {
    text-decoration: none;
    color: #fff;

}

.tableFirstColumn {
    color: #666666 !important;
    font-weight: 500;
    text-decoration: none !important;
}

.tableRestColumn {
    color: #666666 !important;
}
.requesttable a i {
    text-decoration: none;
    color: black;
}

.edit {
    background-color: #3c8dbc;
    padding: 5px 10px;
    border-radius: 4px;
    display: inline-block;
}

.delete {
    background-color: #ff6b6b;
    padding: 5px 10px;
    border-radius: 4px;
}

.edit a, .delete a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

.requesttable .edit {
    background-color: #3c8dbc;
}

.requesttable .delete {
    background-color: #ff6262;
}

.requesttable .cancel {
    background-color: #ff6b6b;
}

.requesttable .approved {
    background-color: #00a65a;
}


.formBackgroundDiv .customselect {
    /*width: 268px;*/
    /*padding: 5px;*/
    /*font-size: 16px;*/
    /*line-height: 1;*/
    /*border: 0;*/
    /*border-radius: 5px;*/
    /*height: 34px;*/
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position-x: 97.5%;
}

.customselect2 {
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position-x: 97.5%;
}


.customselect3 {
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position-x: 97.5%;
}

.customselect4 {
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position-x: 94.5%;
}

.customselectModal {
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position-x: 96%;
}

.formandTableDiv .customselect {
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position-x: 97.5%;
}

.formBackgroundDiv .discountSelect {
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position-x: 95.5%;
}
.requesttable .add {
    background-color: #3c8dbc;
}

.journeyRightDiv {
    width: 100%;

}
.journeyRightDiv .journeyRightDivChild {
    background-color: #fff;
    height: 100%;
}
.journeyVerticalLine {
    border-left: 3px solid black;
    height: 100%;
}
.journeyCircle {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-color: yellow;
}


.formSectionWrapper {
    padding-bottom: 20px;
}

.formSectionWrapper input, .formSectionWrapper select {
    border-radius: 4px;
    height: 35px;
    padding-top: 4px;
    line-height: 1.5;
}
.formSectionWrapper input[type="file"]{
    padding-top: 2px;
}

.jqueryDropdownDiv input {
    height: 14px !important;

}

.formSectionWrapper textarea {
    border-radius: 5px;
    height: 140px;
}

.sectionField {
    margin-bottom: 10px;
}

.personalInformationSection, .locationSection, .passwordResetSection, .creditCardSection, .specialDiscountSection, .NotesSection, .orderTableSection {
    margin-bottom: 20px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    /*    padding-bottom: 15px;*/
    background-color: #ffffff;
    width: 49.4%;
}

.personalInformationSection h5, .locationSection h5, .creditCardSection h5, .specialDiscountSection h5, .NotesSection h5, .orderTableSection h5 {
    margin-bottom: 0.5rem;
}

.customerTypeField {
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position-x: 97.5%;
}

.importtoExcelbtnRow {
    margin-bottom: 10px;
}

.sectionSaveBtn {
    background-color: #397EF6;
    color: #ffffff !important;
    border: none;
    border-radius: 3px;
    /*height: 36px;*/
    padding-left: 25px;
    padding-right: 25px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    border: none;
}

.sectionSaveBtn2 {
    background-color: #397EF6;
    color: #ffffff !important;
    border: none;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}
.redBtn {
    background-color: #FB6962;
    color: #ffffff !important;
    border: none;
    border-radius: 3px;
    /*height: 36px;*/
    padding-left: 25px;
    padding-right: 25px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
}

.chatAnchor {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #6F7D97 !important;
}

.chatDiv {
    padding-left: 25px;
    padding-right: 25px;
}

.chatDiv i {
    color: #6F7D97 !important;
    margin-right: 11px;
    margin-bottom: 2px;
}

.headerrightDiv h6 {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-right: 12px;
}

.profileBgDiv {
    background-color: #ffffff !important;
}

.profileBgDiv .dropdown-toggle {
    box-shadow: none;
}

.profileBgDiv .dropdown-toggle::after {
    content: none;
}

/* .profileBgDiv .dropdown-menu {
    margin-right: 40px;
} */
/* .profileDropdown{
    left: auto !important;
    right: -45px !important;
} */

.headerrightDiv img {
    width: 36px;
    height: 36px;
    border-radius: 50px;
}

.headingsText {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 24px;
    color: #000000;
    text-decoration: none !important;
}

.newOrderHeadingsDiv {
    margin-top: 8px;
    margin-bottom: 10px;
}

.newOrderHeadingsDiv2 {
    margin-top: 8px;
    margin-bottom: 13px;
}

.closedOutHeadingsDiv {
    padding-top: 10px;
    padding-bottom: 13px;
}

.liveroutesTextDiv {
    margin-bottom: 21px;
}

.liveroutesTextDiv h5 {
    margin-bottom: 0px !important;
    padding-left: 10px;
}

.routeImage {
    border-radius: 50px;
    height: 60px;
    width: 60px;
    margin-right: 15px;
}

.routeProfileDiv {
    background-color: #FFFFFF;
    padding-left: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 25px;
}

.msgIconBorder i {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    text-align: center;
    line-height: 15px;
    vertical-align: middle;
    padding-top: 5px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    display: block;
    border: 2px solid #49C288;
    color: black;
}

.linnieHerreraHeading {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1px;
    color: #000000;
}

.linnieHerreraPhone {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #666666;
}

.linnieDiv {
    margin-top: 10px;
}

.status {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #6F7D97;
    margin-bottom: 4px;
}

.status span {
    color: #000000;
}

.dropdownDiv {
    margin-bottom: 10px;
    position: relative;

}

.calenderMonthDiv:after {
    content: "keyboard_arrow_down";
    font-family: 'material icons';
    position: absolute;
    top: 7px;
    left: 115px;
}

.calenderYearDiv:after {
    content: "keyboard_arrow_down";
    font-family: 'material icons';
    position: absolute;
    top: 7px;
    left: 235px;
}

.unassignedOrderDiv, .routeDiv {
    background: #ffffff;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    height: 584px;
}

.unassignedOrderDiv2 {
    background: #ffffff;
    padding-left: 20px;
    padding-top: 7px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.scrollbarDiv2 {
    overflow-y: scroll;
    padding-right: 18px;
    background-color: #ffffff;
    height: 399px;
}

.scrollbarDiv3 {
    height: 424px;
    overflow-y: scroll;
    padding-right: 18px;
    background-color: #ffffff;
}

.dragRightUl {
    list-style: none;
    padding-left: 0px;
}

.scrollbarDiv2::-webkit-scrollbar {
    width: 4px;
    background-color: #B6B6B6;
    border-radius: 4px;
}



.unnassignedOrderListUL {
    list-style-type: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
}



.unnassignedOrderListUL .d-flex {
    /*width: 100%;*/
}


.unassignedOrderDiv h5 {
    /*margin-bottom: 45px;*/
}

.unassignedOrdersHeadingDiv {
    /*    margin-bottom: 25px;*/
}

.driverImage {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.drivernameDiv {
    margin-left: 20px;
    margin-top: 6px;
}

.unnassignedOrderListUL li:not(:last-child) {
    margin-bottom: 20px;
}

.unnassignedOrderListUL li div div:first-child {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #000000;
}

.unnassignedOrderListUL li div div:last-child {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #737377;
}

.officeHourTable {
    background-color: #ffffff;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.officeNavWrapper {
    background-color: #EBECF3;
}

.impNote span {
    font-size: 12px;
}

.vrMapDiv {
    margin-top: 40px;
    margin-left: 50px;
}

.internalIssueTextArea {
    min-height: 120px;
    border-radius: 5px;
}

.tableAbbreviation a {
    color: #212529;
}

.tableAbbreviation {
    margin-top: 13px;
}

.tableRightHeading {
    margin-bottom: 40px;
    margin-top: 5px;
}

.odDynamicBtnTop {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    background: #FFFFFF;
    border-radius: 3px;
}

.rdDynamicBtnTopBlue {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    background: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #397EF6;
}


.blueTextGreyBorder {
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    background: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #CFCFCF;
    padding-left: 10px;
}



.odDynamicBtnTopWhiteBg {
    background-color: #FFFFFF;
}

.odDynamicBtnTopBlueBg {
    background-color: #397EF6;
}

.odDynamicBtnTopGreenBg {
    background-color: #79DE79;
}


.odDynamicBtnTopYellowBg {
    background-color: #FCFC99;
}


.odDynamicBtnTopRedBg {
    background-color: #FF3A3A;
}

.odDynamicBtnTopRedBg2 {
    background-color: #FB6962;
}

.odDynamicBtnTopGreyBg {
    background-color: #DADADA;
}

.odDynamicBtnTopBodyBg {
    background-color: #F8F8FA;
    border: 1px solid silver;
}

.odDynamicBtnTopWhiteTxt {
    color: #979797;
}

.odDynamicBtnTopBlueTxt {
    color: #397EF6;
}

.odDynamicBtnTopGreenTxt {
    color: #FFFFFF;
}

.odDynamicBtnTopBlackTxt {
    color: #212529;
}

.odDynamicBtnTopwhiteColorTxt {
    color: #fff;
}


.odDynamicBtnBottomWhiteTxt {
    color: #FFFFFF;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

}

.odDynamicBtnTopGreyTxt {
    color: #7C7C7C;
}

.odHeading {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    color: #000000;
    margin-bottom: 20px;
}

.odSmallHeading {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}


.odLeftFirstDiv {
    background-color: #FFFFFF;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.ivLeftFirstDiv {
    background-color: #FFFFFF;
    padding-left: 13px;
    padding-right: 13px;
    /*padding-top: 17px;*/
    /*padding-bottom: 17px;*/
    height: 674px;
    overflow-y: scroll;

}

.ivLeftFirstDiv::-webkit-scrollbar {
    height: 4px;
    background-color: #B6B6B6;
    border-radius: 4px;
    width: 4px;
}


.indexScroll::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background-color: #B6B6B6;
    border-radius: 4px;
}

.indexScroll::-webkit-scrollbar-track {
    background: #E0E0E0;
  }
.indexScroll::-webkit-scrollbar-thumb {
  background: #888;
}

.scrollbarDiv {
    padding-right: 15px;
    background-color: #ffffff;
    padding-top: 17px;
    padding-bottom: 17px;
}




.odProfilePic {
    border-radius: 50px;
    height: 68px;
    width: 68px;
}

.odProfilePic2 {
    border-radius: 50px;
    height: 40px;
    width: 40px;
}

.alexLim {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}

.alexLim2 {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #6F7D97;
}

.billNutton {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #6F7D97;
}

.odprofilePhotoNameDiv {

    padding-bottom: 15px;
    margin-bottom: 10px;
}

.odBorderBottom {
    border-bottom: 0.5px solid rgba(216, 216, 216, 0.7);
}

.odBorderBottom2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.odBorderright {
    border-right: 2px solid rgba(0, 0, 0, 0.1);
}

.odprofilePhotoNameDiv div:first-child {
    margin-right: 17px;
}

.residential {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #737377;
}
.residential14 {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #737377;
}

.residential300 {
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #737377;
}

.residentialValueBig {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #737377;
}

.residentialBold {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #000000;
}

.residentialNormal {
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: #000000;
}

.residentialBoldBig {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

.residentialBlue {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #397EF6;
}

.odprofileDetailDiv {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
    border: 1px solid #EBECF3;
    width: 48.7%;
}

.odprofileDetailDiv2 {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #EBECF3;
    width: 48.7%;
}
.searchNumberDiv small{
    color: #1034A6 !important
}

.searchAddressDiv small{
    color: #1034A6 !important
}

.odprofileDetailDiv3 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
    border: 1px solid #EBECF3;
}

.dumpImagesDiv {
    margin-bottom: 7px;
}

.dumpImagesDiv img {
    height: 50px;
    width: 100%;

}

.dumpImagesDiv2 img {
    height: 50px;
    width: 31%;
}

/*.dumpImagesDiv img:first-child, .dumpImagesDiv img:nth-child(2) {
    margin-right: 7px;
}*/

.billingAddressDiv {
    margin-bottom: 5px;
}

.billingAdd {
    margin-top: 13px;
}

.delAdd {
    margin-top: 13px;
    margin-bottom: 5px;
}

.odDeliveryDiv {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    /*padding-bottom: 10px;*/
    border: 1px solid #EBECF3;
    border-radius: 4px;
}

.productDetailDiv {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    /*padding-bottom: 10px;*/
    border: 1px solid #EBECF3;
    border-radius: 4px;
}

.productDetailimg {
    height: 90px;
    width: 90px;
}

.mastercardImg {
    width: 50px;
    height: 35px;
    margin-right: 15px;
}

.creditcard {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #000000;
}

.dollarText {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #49C288;
}

.dollarText2 {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #49C288;
}

.itemOrderedPic {
    width: 65.02px;
    height: 64px;
    border-radius: 3px;
}

.additionalWaitDiv {
    margin-bottom: 10px;
}

.dumpsiteDiv {
    padding-top: 76px;

}

.dumpsiteReceiptImg img {
    height: 66px;
    width: 32%;
}

.dumpsiteReceiptImg img:first-child {
    margin-right: 7px;
}

.overChargeDollar {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #6F7D97;
}

.numberBg {
    height: 20px;
    width: 20px;
    position: relative;
    background-color: #397EF6;
    border-radius: 50px;
    margin-right: 5px;
}

.numberBg span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    color: #ffffff;
    padding-bottom: 2px;
    padding-right: 1px;
}

.overchargesHardware {
    margin-bottom: 10px;
}

.driverDumpPhotoDiv img {
    height: 50px;
    height: 51px;
}

.driverDumpPhotoDiv img:first-child {
    margin-right: 3px;
}

.cardNumber {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #5b5b5d;
}

.trashDollar {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #49C288;
}

.dumpWeightDiv {
    margin-top: 15px;
}

.trashDisposalDiv {
    margin-top: 15px;
}

.dumpNotesDiv {
    padding-top: 15px;
}

.dateTextColor {
    color: #535353;
}

.bottomSliderCircle {
    margin-bottom: 8px;
}

.bottomSliderCircle div {
    height: 11px;
    width: 11px;
    border-radius: 50px;
    background-color: #DADADA;
}

.bottomSliderCircle div:first-child, .bottomSliderCircle div:nth-child(2) {
    margin-right: 10px;
}

.bottomSliderCircle .active {
    background-color: #C4C4C4 !important;
}

.odPara {
    margin-bottom: 25px;
}

.addNoteBtnBlue {
    background: #397EF6;
    border-radius: 3px;
    color: #FFFFFF;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    padding-left: 23px;
    padding-right: 23px;
}

.addNoteBtnBlueLowPadding {
    background: #397EF6;
    border-radius: 3px;
    color: #FFFFFF;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;

}

.addNoteBtnBlueDiv {
    margin-bottom: 13px;
}

.invoicesSectionDiv {
    padding-top: 76px;
}

.invoiceOverchargeDiv {
    padding-bottom: 7px;
    margin-bottom: 10px;
}

.InvoiceSentDiv {
    padding-top: 12px;
    padding-bottom: 10px;
}

.orderDetailDiv, .dumpsiteDiv {
    padding-right: 0px;
}

.odFirstRow {
    margin-bottom: 37px;
}

.customerJourneyText {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}

.odTimelineNewDiv {
    margin-left: 18px;
    margin-right: 18px;
}

.odProgressUL {
    list-style-type: none;

}

.odProgressUL li {
    width: 230px;
    position: relative;
}

/*.odProgressUL li:last-child:before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #6F7D97;
    position: absolute;
    left: 362px;
    border-radius: 50px;
    top: 28px;
}*/


.progressLiLastDot {
    height: 20px;
    width: 20px;
    background-color: #6F7D97;
    border-radius: 50px;
    position: relative;
    top: -47px;
    left: 83%;
}

.oddLi:before {
    content: "";
    width: 3px;
    height: 75px;
    background-color: #6F7D97;
    opacity: 0.2;
    position: absolute;
    top: -75px;
    left: 37px;


}

.oddLi2:before {
    content: "";
    width: 3px;
    height: 75px;
    background-color: #6F7D97;
    opacity: 0.2;
    position: absolute;
    top: -75px;
    left: 37px;


}


.evenLi:before {
    content: "";
    width: 3px;
    height: 75px;
    background-color: #6F7D97;
    opacity: 0.2;
    position: absolute;
    top: 75px;
    left: 37px;


}

.evenLi2:before {
    content: "";
    width: 3px;
    height: 75px;
    background-color: #6F7D97;
    opacity: 0.2;
    position: absolute;
    top: 75px;
    left: 37px;


}

.evenLi3:before {
    content: "";
    width: 3px;
    height: 75px;
    background-color: #6F7D97;
    opacity: 0.2;
    position: absolute;
    top: 75px;
    left: 37px;


}

.odProgressBigCircle {
    background-color: #ffffff;
    height: 75px;
    width: 75px;
    border-radius: 50px;
    text-align: center;
    padding-top: 10px;

}

.odProgressUL li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    background-color: #6F7D97;
    top: 35px;
    left: -17%;
    z-index: -1;
}



.odProgressBigCircle h6:first-child {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #6F7D97;
}

.odProgressBigCircle h6:last-child {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #909092;
}

.usericonDiv {
    height: 35px;
    width: 35px;
    border: 1.5px solid #397EF6;
    border-radius: 50px;
    text-align: center;
    padding-top: 2px;
    position: absolute;
    top: -109px;
    left: 22px;
}

.usericonDiv2 {
    height: 33px;
    width: 33px;
    border: 1.5px solid #397EF6;
    border-radius: 50px;
    text-align: center;
    padding-top: 2px;
    position: absolute;
    top: 150px;
    left: 22px;
}

.usericonDiv img, .usericonDiv2 img {
    height: 15px;
    width: 15px;
}

.customerJourneyDiv {
    margin-bottom: 165px;
}

.timelineRow {
    margin-bottom: 140px;
}

.timelineGreyText {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #535353;
}

.evenLiTextDiv {
    position: absolute;
    top: 98px;
    left: 55px;
}

.oddLiTextDiv {
    position: absolute;
    top: -66px;
    left: 55px;
}

.topnavbar .dropdown-menu {
    transition: all 0.4s ease 0s;
}


.invoicesDiv {
    margin-bottom: 10px;
}

.additionalSettingsTabMainDiv .main-section {
    padding: 20px 30px 20px 0px;
}

.calenderRow {
    padding-top: 15px;
    padding-bottom: 15px;
}

.returnDate {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #6F7D97;
    margin-bottom: 0px;
}

.rd20Nov2020 {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #535353;
    margin-bottom: 0px !important;
}

.returnDateDiv {
    border-radius: 4px;
    border: 1px solid #EBECF3;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 16px;
}

.rd20Nov2020 img {
    height: 23px;
    width: 17px;
}

.btnMarginRight {
    margin-right: 10px;
}

.rmTblDiv {
    height: 266px;
}

.rmBigBtnEnd {
    margin-bottom: 10px;
}

.calenderMonth {
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 55px;
    background-color: #F8F8FA;
    background-clip: padding-box;
    border: 1px solid #6F7D97;
    border-radius: 3px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-right: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}



.calenderYear {
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding-top: 3px;
    padding-left: 15px;
    padding-right: 55px;
    padding-bottom: 3px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #F8F8FA;
    background-clip: padding-box;
    border: 1px solid #6F7D97;
    border-radius: 3px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.calenderTextFont {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #6F7D97;
}



.ProductDetailDiv {
    margin-bottom: 10px;
}

.availableDimpster {
    border: 1px solid #397EF6;
    border-radius: 3px;
    padding: 5px 10px;
    text-decoration: none !important;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #6F7D97;
    display: inline-block;
}

.dumpsterSizeText {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

.yardText {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #848488;
}

.productDetailFirstDiv {
    width:100%;
    margin-left: 15px;
}

.productLocationCol {
    padding-left: 0px;
}

.border-radius-10 {
    border-radius: 10px;
}

.dropBox {
    height: 134px;
    width: 100%;
    border: 1px solid #EBECF3;
    border-radius: 3px;
    margin-bottom: 15px;
    background-color: #ffffff;
}

.unnassignedOrderListDiv {
    min-height: 102px;
    width: 100%;
    border: 1px solid #EBECF3;
    border-radius: 3px;
    margin-bottom: 15px;
}

.rmBorderRight {
    border-right: 2px solid rgba(0, 0, 0, 0.1);
}

.dropdownPaddingTop {
    padding-top: 15px;
}

.driverPaddingTop {
    padding-top: 7px;
}

.notesText {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #000000 !important;
}

.nrUnassignedOrderCol {
    padding-right: 0px;
}

.modal-body label {
    font-size: 14px;
    font-weight: 500;
    color: #505050;
}

.pastOlTopRightDropdown .daysDiv, .pastOlTopRightDropdown .amountDiv, .pastOlTopRightDropdown .dumpsterDiv {
    margin-right: 20px;
}

.calenderCol {
    margin-top: 44px;
}

/*#calendar div:nth-child(1), #calendar div:nth-child(2) {
    background-color: #ffffff !important;
}*/


#navbarNavDropdown {
    font-family: Rubik;
}

#navbarNavDropdown .dropdown-item {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    width: 290px;
}

.wideDropdown .wdLeft {
    margin-right: 7px;
}

#navbarNavDropdown span {
    margin-top: auto;
    margin-bottom: auto;
}

.selectDateMainDiv, .selectDriverMainDiv {
    margin-bottom: 10px;
}

.nrMapCol {
    margin-top: 44px;
}

table tbody th a {
    text-decoration: none !important;
    color: #535353;
}

table tbody th a:hover {
    color: #535353;
}

.liveSearchDiv .btn {
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #888888 !important;
}

.liveSearchDiv .filter-option {
    height: auto !important;
}

/*.redBox {
    border: 1px solid red;
    border: 1px solid red;
    text-align: center;
    padding: 3px 5px;
}*/

.liveSearchDiv .dropdown-toggle {
    background-color: #F8F8FA !important;
}

.carImg {
    height: 50px;
    width: 60px;
    border-radius: 4px;
}

.officeTime {
    border: 1px solid #e8ecec;
    padding: 5px;
    border-radius: 3px;
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 14px;
    color: #666666;
    width: 250px;

}

.backBtn a {
    text-decoration: none;
    color: #397EF6;
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: normal;
}

.timezoneTbody td:nth-child(3){
    width: 300px;
}

.updateCCBtn {
    background-color: #397EF6;
    border-radius: 3px;
    /*height: 36px;*/
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 3px;
    padding-bottom: 5px;
    color: #ffffff;
    text-decoration: none !important;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    display: inline-block;

}

.updateCCBtnRed {
    background-color: #FF425D;
    border-radius: 3px;
    /*height: 36px;*/
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 3px;
    padding-bottom: 5px;
    color: #ffffff;
    text-decoration: none !important;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    display: inline-block;
}



.subscriptionMainDiv {
    background-color: #ffffff;
}

.subscriptionMainDiv .col-lg-3.text-right {
    padding-right: 100px;
}

.subscriptionMainDiv .marginBottom {
    margin-bottom: 20px;
}

.subscriptionText {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #535353;
}

.closedForTheDayCheck {
    margin-top: 2px;
}

.returnDateMainDiv {
    height: 758px;
}

.redTextColor {
    color: #FF3A3A;
}

.reportAnIssueDiv {
    /*margin-top: 10px;*/
    margin-bottom: 10px;
}

.rubicNormal50014 {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.darkGreyColor {
    color: #6F7D97;
}

.flatFireText {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #7C7C7C;
}

.paraText {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #7C7C7C;
}

.calenderModalDiv {
    max-width: max-content !important;
}

.schedule {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #6F7D97;
}

.timeText {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #7C7C7C;
}


/*equipment bookingpage css*/

.textarea {
    height: 78px !important;
}

.textarea2 {
    height: 90px !important;
}

.textarea3 {
    height: 140px !important;
}

.modalCalenderRightDiv {
    background-color: #F8F8FA;
    padding-left: 13px;
    padding-top: 13px;
    padding-right: 10px;
    height: 345px;
}

.alexLimDiv {
    padding-bottom: 15px;
}

.alexLimDiv > div:first-child {
    margin-right: 50px;
}

.alexLimDiv > div:nth-child(2) {
    margin-right: 20px;
}

.profileScrollDiv {
    overflow-y: scroll;
    height: 147px;
    padding-right: 10px;
}

.profileScrollDiv::-webkit-scrollbar {
    width: 2px;
    background-color: #B6B6B6;
    border-radius: 4px;
}

.cancelBtn {
    background-color: #DADADA;
    border-radius: 3px;
    color: #7C7C7C;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    border: none !important;
}

.saveBtn {
    background-color: #397EF6;
    border-radius: 3px;
    color: #FFFFFF;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    border: none !important;
}

.notesDiv2, .notesDiv3 {
    display: none;
}

.totalAmountText {
    color: #49C288;
    font-weight: 500;
}

.csLocationTbl, dsLocationTbl {
    display: none;
}

.actionIcons {
    color: #666666;

}

.fa fa-trash {
    font-size: 20px !important;
}



/*Search box css*/


.ulfixed {
    width: 427px !important;
    height: 300px;
    position: absolute;
    right: 169px;
    display: none;
    z-index: 999;
    background:#4CB9EF;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
    top: 114px;
    padding: 0px;
    overflow-y: scroll;
}


.ulfixed .deactivate {
    border: 2px solid #47c4e4;
    padding: 7px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.ulfixed .deactivate:hover {
    background: #47c4e4;
    color: #fff;
}

.ulfixed .filterbox {
    display: flow-root;
}

.ulfixed .filterbox a {

    width: 100%;
    border: 0px solid;
    display: flex;
    padding: 10px;
    margin-bottom: 0px;
    background: #fff;
}
.ulfixed .searchbox-deasign div{margin-right: 5px;}
.ulfixed .searchbox-deasign{margin-top: 10px;}
.ulfixed .search-dealoptions{padding: 0; margin-bottom: 0px !important;}
.ulfixed .search-dealoptions li{
    list-style: none;
    font-size: 10px;
    width: 100%;
}
.ulfixed .search-dealoptions li span:first-child{
    float: left;
    /*width:53%;*/
}
.ulfixed .search-dealoptions li span:last-child{
    float: right;
}

.ulfixed .search-dealoptions li span:last-child {
    float: right;
    font-family: 'Rubik';
    font-size: 13px;
    font-weight: 300;
}
.ulfixed .search-dealoptions li span:first-child {
    float: left;
    /*width: 60%;*/
    font-family: 'Rubik';
    font-size: 13px;
    font-weight: 300;
}


.ulfixed .tx-medium{font-family: 'Rubik';font-size: 14px;}
.ulfixed .filterbox a{border: 1px solid #EBECF3;border-radius: 4px;}
.ulfixed{background: #f8f8fa;}

/*.addIcon {
    background-color: #397EF6 !important;
    border-radius: 50px !important;
    height: 30px;
    width: 30px !important;
    padding-top: 7px !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
    padding-bottom: 7px;
    color: #fff;

}*/

.addIcon {
    background-color: #397EF6 !important;
    border-radius: 50px !important;
    height: 26px;
    width: auto;
    font-size: 13px;
    padding-top: 1px !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
    padding-bottom: 7px;
    color: #fff;
}

.filterbox {
    padding-top: 0px;
    padding-bottom: 0px;

}

.searchProfileDetailDiv span:last-child {
    font-weight: 300;
}

.searchNumberDiv small, .searchAddressDiv small {
    font-weight: 300;
}

.searchfixedheightDiv {
    /*height: 334px;*/
    /*overflow-y: scroll;*/
}

.ulfixed a {
    text-decoration: none;
}
/*Search box css closed*/

.deliveryDrop, .pickupDrop, .returnDrop {
    display: none!important;
}

.ContentDetailsDiv #status1,
.ContentDetailsDiv #status2,
.ContentDetailsDiv #status3 {
    visibility: hidden;
}

.dropHeight {
    min-height: 118px;
}

#dot1, #dot2, #dot3 {
    visibility: hidden;
}

.addNewOrderDiv, .chatDiv {
    padding-top: 15px;
    padding-bottom: 15px;
}



#testimonial-menu p {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

/*.changeRequestTable th:last-child {
    padding-left: 20px;
}*/

.calendarDateBgColor {
    background-color: #397EF6;
}

.subscriptionMainDiv .col-lg-4 {
    padding-left: 295px;
}

.subscriptionMainDiv select {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}
/*#deliveryDrag, #returnDrag {
    border: 1px solid red;
    padding: 3px 5px;
}*/

/*Toggle Switch css*/


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch input:checked + .slider {
    background-color: #27ae60;
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.switch .slider.round {
    border-radius: 34px;
}

.switch .slider.round:before {
    border-radius: 50%;
}

/*toggle switch css end here*/


.inputfieldDiv {
    border-radius: 4px;
    background-color: #fff;
    padding-left:7px;
    /*width: 20%;*/
}

#chatDiv2 {
    background-color: #fff;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 11px;
    padding-right: 0px;
    visibility: hidden;
    border: 1px solid #EBECF3;
}

#chatDiv2 a {
    text-decoration: none;
}

#chatDiv2 i {
    font-size: 18px;
    color: #397EF6 !important;
}

#addNewOrder2 {
    background-color: #fff;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    visibility: hidden;
    padding-left: 10px;
    padding-right: 10px;
    /*border-left: 1px solid rgba(230, 231, 239, 0.85);*/
    border: 1px solid #EBECF3;

}

#addNewOrder2 a {
    text-decoration: none !important;
}

.inputPadding {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 50%;
    height: 33px;
    border-right: none;
    border: 1px solid #EBECF3;
}

.searchli {
    display: flex;
    justify-content: space-between;
}


.searchHeading {
    font-weight: 400 !important;
    width: 100%;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #e6e7ef;

}

.addIconMargin {
    margin-top: 2px;
    margin-bottom: 2px;
}

.phoneWidth {
    width: 50px;
}

.fullBorder {
    border: 1px solid #EBECF3;
    border-radius: 3px;
}

.editIcon, .approveIcon {
    height: 16px;
    width: 16px;
}

.editIcon {
    margin-right: 5px;
}

.removeButton {
    background-color: #FB6962 !important;
    color: #ffffff !important;
    border-radius: 3px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    display: inline-block;
}

.dynamicHead th {
    font-family: "Rubik";
    font-size: 14px;
    font-weight: 400;

}

#dynamicTable select, #dynamicTable input {
    margin-bottom: 0px !important;
}
#dynamicTable td:last-child {
    vertical-align: middle;
}
.dynamicTable select, #dynamicTable input {
    margin-bottom: 0px !important;
}
.dynamicTable td{
    vertical-align: middle;
}

.dynamicModal input {
    height: 37px !important;
}

.dynamicBtnDiv {
    margin-top: 32px;
}

.green-box{height: 15px;width: 10px;background-color: #0A8F3F;}
.red-box{height: 15px;width: 10px;background-color: #C42104;}
.light-green-box{height: 15px;width: 10px;background-color: #F3D700;}

.chatAnchor {
    text-decoration: none !important;
}

#close1, #close2, #close3 {
    height: 20px;
    width: 20px;
}

.plusIcon {
    color: #0066ff !important;
}

.rmPlusIcon {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.routeBtnText {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #737377;
}

.routeBtnAnchor {
    text-decoration: none !important;
    cursor: pointer;
}

/*.dropdownLowPadding {
    padding-top: 3px;
    padding-bottom: 3px;
}*/

.dropHeaderPadding {
    padding-right: 20px;
}

.arrowIcon {
    width: 25px;
    height: 25px;
}

#close1, #close2, #close3 {
    cursor: pointer;
}

.dragUl li div h6:first-child {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #000000;
}

.dragUl li div h6:last-child {
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: #282828;
    text-align: right;
}

.dragColumn ul {
    list-style-type: none !important;
    padding-left: 0px;
    margin-bottom: 0px;
}

.topbreadcrumb {
    margin-bottom: 0px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}


.infoIcon {
    position: relative;
}



/*.iconBorder {
    border: 1px solid #007bff;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: inline-block;
    text-align: center;
}*/

.iconBorder {
    border: 1px solid #007bff;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    font-size: 13px;
    display: inline-block;
    text-align: center;
}

#mapviews {
    display: none;
}

.pageSteps {
    font-family: 'Rubik';
    font-weight: 500;
    color: #6c757d;
    font-size: 15px;
}

.noBorder {
    border-bottom: none !important;
}

.dateTextFont {
    font-weight: normal;
    font-size: 1rem;
}

.dateNoWidth {
    width: 95px !important;
}
.dateNoWidth2 {
    width: 191px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.textEllipse {
    width: 271px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-notification{
    margin-left: 5px;
    margin-right: 10px;
}

.statusTime {
    display: none;
}

.plMarkerDiv .mapLastSpan {
    font-family: 'Rubik';
    font-size: 13px;
    font-weight: 300;
}

.plMarkerDiv .mapFirstSpan {
    font-family: 'Rubik';
    font-size: 13px;
    font-weight: 400;
}

.plMarkerDiv h6:first-child {
    font-family: 'Rubik';
    font-size: 13px;
    font-weight: 400;
}



#TableView {
    display: none;
}
.breadcrumbBorder{
    border-bottom: 2px solid #fff;
    margin-bottom: 9px;
}

.downArrow {
    height: 20px;
    width: 15px;
    cursor: pointer;
}

.upArrow {
    height: 20px;
    width: 15px;
    cursor: pointer;
}

.pricingModal th {
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: 400;
}

.pricingModal td {
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: 300;
}

.priceModalTitle {
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: 400;
}

.arrowDiv {
    padding-top: 10px;
}

#downArrow1, #downArrow2, #upArrow1, #upArrow2 {
    /*display: none;*/
}

#drag1, #drag2, #drag3 {
    cursor: pointer;
}

.progressIcon {
    height: 13px;
    width: 13px;
}

.completedIconMap {
    height: 25px;
    width: 25px;
}

.issueIconMap {
    height: 13px;
    width: 13px;
}
.SetFont {
    font-weight: 500;
    border: 1px solid silver;
    padding: .375rem .75rem;
    border-radius: 3px;
    text-decoration: none !important;
    display: inline-block;
    font-size: 12px;
}


/*Calender css*/

/*.cld-main{
  width: 100%;
  background-color: #fff;
}
.cld-main a{
  color: #0080FF;
}
.cld-main svg{
  fill: #397EF6;
}
.cld-datetime{
    position: relative;
    width: 100%;

    margin: auto;
    overflow: hidden;
    border-bottom: 1px solid silver;
    height: 37px;
    border-top: 1px solid silver
  }
  .cld-datetime .today{
        padding-top: 5px;
                width: calc(100% - 40px);
    text-align: center;
        margin: auto;
        float: left;
        position: relative;
    font-weight: bold;
        text-align: center;
  }

  .cld-nav{
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 2px;
  }
  .cld-nav:hover{
    cursor: pointer;
  }
  .cld-nav:hover svg{
      fill: #005EFF;
  }
  .cld-rwd{
    float: left;
  }
  .cld-fwd{
    float: right;
  }
    .cld-nav svg:hover{

    }
.cld-labels, .cld-days{
  padding-left: 0;
}
  .cld-label, .cld-day{
    box-sizing: border-box;
    display: inline-block;
    width: 14.28%;
    text-align: center;
  }
  .cld-day{
    border: 1px solid #eee;
  }
  .cld-day.today .cld-number{
    background: #397EF6;
    color: #fff;
  }
  .cld-day.disableDay{
    opacity: 0.5;
  }
  .cld-day.nextMonth, .cld-day.prevMonth{
    opacity: 0.33;
  }
    .cld-number{
      position: relative;
      margin: 0;
      padding: 10px;
    }
      .cld-title{
        position: absolute;
        z-index: 5;
        display: none;
        top: 35px;
        left: 0;
        padding: 5px 10px;
        background: #fff;
        white-space: nowrap;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 12px;
      }
      .cld-number:hover .cld-title{
        display: block;
      }
      .cld-title::before{
        content: '';
        position: absolute;
        top: -7.5px; left: 10px;
        width: 0;
        height: 0;
        border-left: 7.5px solid transparent;
        border-right: 7.5px solid transparent;

        border-bottom: 7.5px solid #ccc;
      }
      .cld-number.eventday{
        font-weight: bold;
        color: #0080FF;
      }
      .cld-number.eventday:hover{
        cursor: pointer;
        background: #eee;
      }
      .today .cld-number.eventday:hover{
        background: #005EFF;
      }
          ul.cld-labels{
                margin: 10px 0 !important;
                }

                Calander css end here*/


/*new calender css*/


/*[v-cloak] {
    display: none;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 1s !important;
}

.fade-enter,
.fade-leave-to {
    opacity: 0 !important;
}



#cal {
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    font: 13px/1.5 "Helvetica Neue", Helvatica, Arial, san-serif;
    display: table;
}

#cal .header {
    cursor: default;
    background: #fff;
    background: -moz-linear-gradient(top, #adabab, #fff);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    height: 34px;
    position: relative;
    color: #2b2b2b;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
    text-shadow: 0px -1px 0 #222;
    text-transform: uppercase;
}

#cal .header span {
    display: inline-block;
    color: #fff;
}

#cal .header .button {
    width: 24px;
    height: 22px;
    text-align: center;
    position: absolute;
    background: #397EF6;
}

#cal .header .left.button {
    left: 0;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}

#cal .header .right.button {
    right: 0;
    top: 0;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}



#cal .header .month-year {
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    color: #000000;
    margin-top: 3px;
}

#cal table {
    background: #fff;
    border-collapse: collapse;
}


#cal td {
    color: #2b2b2b;
    width: 75px;
    height: 46px;
    line-height: 75px;
    text-align: center;
    border: 1px none;
    cursor: default;
}

#cal #days td {
    height: 26px;
    line-height: 26px;
    text-transform: uppercase;
    font-size: 90%;
    color: #9e9e9e;
}

#cal #days td:not(:last-child) {}

#cal #cal-frame td.today {
    background: #ededed;
    color: #8c8c8c;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}

#cal #cal-frame td span {
    font-size: 80%;
    position: relative;
}

#cal #cal-frame td span:first-child {
    bottom: 5px;
}

#cal #cal-frame td span:last-child {
    top: 5px;
}

#cal #cal-frame table.curr {
    float: left;
}

#cal #cal-frame table.temp {
    position: absolute;
}

table#days tbody tr {
    border-bottom: 1px solid #f1f1f1;
}

table#days td.weekday {
    color: #5d5d5d !important;
    font-weight: 700;
}

div#cal {
    font-family: 'Roboto', sans-serif;
}

table.curr tbody tr:not(:last-child) {
    border-bottom: 1px solid #f1f1f1;
}

table.curr tbody tr:nth-child(5) {
    border-bottom: none !important;
}

table.curr tbody tr:last-child {
    border-bottom: none !important;
}

div#cal-frame div.day {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 14px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header a.prev,
.header a.next {
    color: #fff;
}

.day.weekend {
    color: #b5b5b5;
}

a.calendarLink {
    color: #222;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    display: block;
}

div.today a.calendarLink {
    color: #fff;
    font-weight: 700;
    background: #397EF6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

a.calendarLink.selected-link {
    background-color: #397EF6;
    color: #fff;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

a.calendarLink:hover {
    color: #fff;
    background: #397EF6;
    transition: 0.3s;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

@media only screen and (max-width: 400px) {
    #cal td {
        width: 75px;
        height: 60px;
        line-height: 50px;
    }
}

@media only screen and (max-width: 1023px) {
    a.calendarLink {}
}*/


/** new Calendar css end here**/



/*datepicker css starts here*/

.ui-widget-header {
    background: #fff !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {

    background: #fff !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #aaaaaa;
    background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    background: #397EF6 !important;color:#fff
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    background: #397EF6 !important;color:#fff
}

.ui-datepicker {
    width: 100% !important;
}

.ui-datepicker td span, .ui-datepicker td a {
    height: 48px;
}

.ui-datepicker td a {
    display: flex !important;
    align-items: center;
    justify-content: center;

}
.ui-state-default, .ui-widget-content .ui-state-default {
    border: 1px solid #E8E8E8 !important;
}
.ui-widget.ui-widget-content {
    border: 1px solid #E8E8E8 !important;
}
.ui-widget-header {
    border: 1px solid #E8E8E8 !important;
}

/*datepicker css ends here*/


.searchNumberDiv small {
    cursor: pointer;
}

#noContent {
    display: none;
    height: 110px;
}

.noOrders {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}

.addIconCol {
    margin-top: 31px;
}

.addIconCol i {
    color: #fff;
    background-color: #397EF6;
    padding: 7px 7px;
    border-radius: 4px;
}

.link1, .link2 {
    width: 49%;
}

.addNewBtn2, .odAddNewBtn2 {
    display: none;
}

.newAddNewBtn2 {
    display: none;
}

.progressHiddenDiv {

    display:block !important;
}

#progressHiddenDiv {
    display: none;
    position: absolute;
    bottom: 217px;
    right: 16px;
}

.driverImgOnMap {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

#progressIcon {
    display: none;
}

#holidays {
    display: none;
}

#contentMgmt {
    display: none;
}

.progressIcon2 {
    height: 40px;
    width: 40px;
}

.dragUl li {
    height: 23px;
}

.progresslastIcon {
    height: 45px;
    width: 45px;
}

.dollarIcon {
    border: 1px solid #0066ff;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    display: inline-block;
    text-align: center;
    padding-top: 4px;
}

.roundedPlusIcon {
    border: 1px solid #0066ff;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    display: inline-block;
    text-align: center;
    padding-top: 1px;
    padding-right: 1px;
}

.newRouteSearch {
    height: auto !important;
    padding: 2px 0.75rem !important;
}

.btn {
    padding-top: .200rem !important;
    padding-bottom: .200rem !important;

}

.badge {
    border-radius: .25rem !important;
    padding: .25em .4em !important;
    font-size: 75% !important;
    font-weight: 700 !important;
    line-height: 1 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
}

.multi-select-button {
    padding-top: .300rem !important;
    padding-bottom: .300rem !important;
    height: auto !important;
}

.dateInput {
    padding-top: 0.5px !important;
    padding-bottom: 0.5px !important;
    height: auto !important;
}

.roundedPlusIcon2 {
    border: 1px solid #0066ff;
    border-radius: 50%;
    height: 21px;
    width: 21px;
    display: inline-block;
    text-align: center;
    padding-top: 2.7px;
}

.boxShadow {
    box-shadow: 0 0 6px 0 #add8e6;
}

.subMenuDiv {
    display: none;
    position: absolute;
    top: 85px;
    right: -208px;
    height: 300px;
    width: 250px;
    background-color: #fff;
    z-index: 1;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.subMenuDiv i {
    display: none;
    color: #79DE79;
}

.nOtableCol i {
    color: #79DE79;
}

.subMenuDriverDiv {
    height: 249px;
    overflow-y: scroll;
    padding-right: 10px;
}

.subMenuDriverDiv div h6 {
    margin-bottom: 0px;
}

.subMenuDriverDiv div .label {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 6px;
    text-decoration: none;
    cursor: pointer;
    background-color: #FBFBFB;
}

.subMenuDriverDiv div .label:hover, .subMenuDriverDiv div .label:focus {
    background-color: #e6e7ef;

}

.subMenuDriverDiv div a:hover {
    color: #505050;
}

.subMenuBtnDiV {
    padding-right: 14px;
}
.newRouteMapDiv {
    display: none;
}

.paddingfifteen {
    padding-bottom: 15px;
}

.pbTen {
    padding-bottom: 10px;
}

.bodyPadding {
    padding-right:0 !important;
}
.plusIconTwo {
    height: 20px;
}
.driverHeadingDiv {
    margin-bottom: 13px;
}

.orderNoBox {
    background-color: #F5F5F5;
    padding: 3px 5px;
}

.rNmapBtnLeft {
    visibility: hidden;
}
.quickAssign {
    position: relative;
}

.quickAssignDiv .subMenuDiv {
    right: -263px;
    top: 86px;
}
.toast-header {
    background-color: #5BBB5D;
    color: #fff;
}
.liveSearchDiv .dropdown-item.active, .dropdown-item:active {
    background-color: #fff;
    color: #212529;
}
.liveSearchDiv .dropdown-item:hover {
    background-color: #e6e7ef;
}

.liveSearchDiv .bootstrap-select .dropdown-menu li a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-bottom: 1px solid #EAEAEA;
}

.liveSearchDiv .dropdown-menu {
    padding-top: 0px;
    padding-bottom: 0px;
}
.lineHeight1 {
    line-height: 1;
}
.surchargeEdit {
    text-decoration: none !important;
}

.mb13 {
    margin-bottom: 13px;
}

.eeScrollerDiv {
    height: 237px;
    overflow-y: scroll;
}
#navbarNavDropdown .dropdown-item.carett:after {
    font-family: 'FontAwesome';
    content: '\f0d7';
    color: #888888;
}

.dvrWorkingHrsDiv {
    position: relative;
    display: none;
}

.dvrWorkingHrsDivAbsolute {
    position: absolute;
    top: -246px;
    right: -152px;
    height: 213px;
    width: 152px;
    background-color: #fff;
    box-shadow: 0 0 6px 0 #add8e6;
    padding: 10px;
}
.workHoursDiv h6 {
    margin-bottom: 3px;
    padding-bottom: 4px;
    padding-left: 5px;
}
.addNewDiv {
    position: absolute;
    display: none;
    top: 41px;
    right: 16px;
    background-color: white;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid rgba(0,0,0,.15);
}
.addNewDiv .fa-circle-o-notch {
    color: #666666;
}
.subMenuDiv .close {
    height: 1px;
}
.boxShadow:hover {
    box-shadow: 2px 3px 6px 2px rgba(95,90,102,0.76);
    -webkit-box-shadow: 2px 3px 6px 2px rgba(95,90,102,0.76);
}

.boxShadow2:hover {
    box-shadow: 2px 3px 6px 2px rgba(95,90,102,0.76);
    -webkit-box-shadow: 2px 3px 6px 2px rgba(95,90,102,0.76);
}

.activeDiv {
    position: relative;
}

.checkboxDiv {
    z-index: 1;
    position: absolute;
    /* top: -70px;
    right: -177px; */
    top: 69px;
    right: 14px;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #EBECF3;
    border-radius: 4px;
    /*display: none;*/
}
.removeCan {
    color: #E46767;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.activeTd {
    position: relative;
}

.workHoursDiv h6:first-child {
    border: 1px solid #CFCFCF;
}

.subMenuDriverDiv .label > div {
    display: flex;
    justify-content: space-between;
}
.subMenuDriverDiv .label > div {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.workingDiv {
    font-size: 12px;;
}
.driverRouteDetailDiv{
    padding-top: 4px;
}
.contentDetailschildDiv2{
    padding-bottom: 0px;
}
.iconRightDiv2{
    margin-top: 10px;
}
.dvrWorkingHrsDiv2{
    width: 265px;
    right: -250px;
    top: -293px;
}
.dvrWorkingHrsDiv .status{
    display: inline-block;
    margin-bottom: 8px;
}
.dvrWorkingHrsDiv .iconMainDiv .sizeHeading{
    margin-top: 7px;
}
.checkboxDiv{
    z-index: 1;
}
.displayNone{
    display: none !important;
}
.multipleDriverDiv{
    overflow-x: scroll;
    cursor: grab;
}
.multipleDriverDiv .singleDriverDiv:first-child{
padding-left: 0px;
}

.elemultipleDriverDivment:hover{
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}
.multipleDriverDiv.grabbing {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
.imagePadding{
    padding: 0px .5rem .5rem 0px !important;
}
.subMenuDiv .sizeHeading, .subMenuDiv .addressHeading {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 12px;
    font-weight: 500;
    color:#505050;
}
.profileBgDiv {
    margin-top: auto;
    margin-bottom: auto;
}

.custom_error{
    color: red;
    font-size: 11px;
}
.addServiceBtnTd{
    /* vertical-align: middle !important; */
        /* text-align: center; */
    }
    .addServiceBtnTd div:not(:last-child) {
    margin-bottom: 14px;
    }
    #servicePriceModal .modal-dialog{
    max-width: 600px;
    }
    .servicePriceLocationTd{
        vertical-align: middle !important;
    }
    .servicePriceLocationTd .customselect{
        height: 37px;
    }
    .serviceLocationThead th{
    vertical-align: middle !important;
    }
    .serviceLocationThead th:first-child{
    text-align: left;
    }
    .rentalValueTd {
    width: 300px;
    }
    .rentalValueTd input {
    width: 120px;
    }
    .fit-cvr{
        object-fit: cover;
    }
    .smallInput{
        width: 75px;
        height: 20px;
        margin-bottom: 2px;
    }
    .opacity-65{
    opacity: .65;
    }
    .cart-prod-qty{
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 5px;
    }
    .cart-prod-qty-right{
        padding-left: 9px;
        padding-right: 9px;
        margin-left: 5px;
    }
    .qty-number{
        text-align: center;
    }
    .customBtn {
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        padding-top: 0.375rem;
        padding-right: 0.75rem;
        padding-bottom: 0.375rem;
        padding-left: 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .borderRed {
        border: 1px solid red !important;
        }
        .borderBlue {
        border: 1px solid #0066ff !important;
        }
        .removeDollarButton{
            color: red !important;
        }
        .cancelBtn{
            border-radius: 3px;
            height: 35px !important;
            padding-top: 5px !important;
            background-color: #397EF6;
            color: #ffffff !important;
            border: none;
            border-radius: 3px;
            /* height: 36px; */
            padding-left: 25px;
            padding-right: 25px;
            font-family: Rubik;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            display: inline-block;
            border-color: #005cbf;
        }
        .serviceModalBtns  {
            margin-right: 1rem;
            margin-bottom: 1rem;
        }
        .redBg{
            background-color: red !important;
        }
        textarea{
            resize: none;
        }
        .bookingUrl{
            color: #E05D6F;
          }
          .permissionHeader{
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 24px;
            padding-right: 22px;
          }
    #back2 {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    border-radius: 3px;
    border: none;
    }

    #loadingProgress{
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        background-color: rgba(0,0,0,0.7);
        height: 100%;
        width: 100%;
        z-index: 9;
   }
   #loadingProgress span{
       color: #fff;
       position: absolute;
       top: 50%;
       left: 0;
       right: 0;
       bottom: 0;
       display: inline-table;
       width: 100%;
       font-size: 17px;
       font-weight: bold;
   }
   .locationNotesDiv{
    width: 150px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   }
   .bodyMainDiv{
       min-height: 600px;
   }
    /* .blankImgDiv{
        margin-top: 9px;
        height: 98px;
        width: 98px;
        border: 2px solid black;
    } */
/*Media query starts from here*/

@media only screen and (max-width: 1357px) {
    .addNewBtn1 {
        display:none;

    }
    .addNewBtn2 {
        display: inline-block;
    }

}




@media only screen and (max-width: 1286px) {
    .odAddNewBtn1 {
        display:none;

    }
    .odAddNewBtn2 {
        display: inline-block;
    }

}


@media only screen and (max-width: 1329px) {
    .bodymaincolDiv {
        padding-right: 0px !important;
    }

}

@media all and (min-width: 992px) {
    .topnavbar .nav-item .dropdown-menu{ display: none; }
    .topnavbar .nav-item:hover .nav-link{ color: #000000;  }
    .topnavbar .nav-item:hover .dropdown-menu{ display: block; }
    .topnavbar .nav-item .dropdown-menu{ margin-top:0; }




}

@media only screen and (max-width: 899px) {
    .logoDiv h4 {
        font-size: 18px;
    }

    .headerinputfield {
        width: 80px;
    }

    .addNewOrderDiv a, .uploadfilesDiv a, .chatDiv a {
        font-size: 13px;
    }
}

@media only screen and (max-width: 615px) {

    .headerinputfield {
        width: 50px;
    }

    .inputfieldDiv {
        height: 40px;
        padding-top: 40px;
        padding-bottom: 40px;

    }


}

@media only screen and (max-width: 767px) {

    .headerleftDiv, .inputfieldDiv {
        justify-content: center !important;
    }

    .addNewOrderDiv a:last-child, .chatDiv a:last-child, .profileBgDiv h6, .inputfieldDiv {
        display: none !important;
    }

    .headerleftDiv div:first-child {
        margin-right: 70px;
    }

    .addNewOrderDiv i {
        font-size: 20px;
    }

    .chatDiv i {
        font-size: 20px;
    }

    .logoDiv {
        padding-left: 0px;
        padding-right: 0px;
    }

    .headerinputfield {
        width: 5px !important;
    }
    .inputfieldDiv, .addNewOrderDiv, .chatDiv {
        border-right: none;
        padding-left: 0px;
        padding-right: 0px;
    }

    .footerLink a {
        margin-right: 27px;
    }

    .profileBgDiv .dropdown-menu {
        transform:translate3d(-126px, 56px, 0px) !important;
    }
    .profileBgDiv {
        display: flex;
        justify-content: center !important;
        margin-right: 20px;
    }

    .rlogo {
        height: 27px;
    }
}

@media only screen and (max-width: 991px) {

    .firstTable, .secondTable {
        margin-bottom: 20px;
        padding-right: 15px;
    }

    .mapDiv {
        margin-top: 28px;
    }

    .mapDiv .col-lg-4 {
        margin-top: 20px;
    }

    .mapDiv .map {
        margin-bottom: 10px;
    }


    .customselect2 {
        background-position-x: 98%;
    }


    .personalInformationSection, .locationSection, .passwordResetSection, .creditCardSection, .specialDiscountSection, .NotesSection, .orderTableSection {
        width: 100%;
    }

    .formandTableDiv {
        flex-direction: column;
    }

    .leftformDiv, .rightTableDiv {
        width: 100% !important;
    }

    .leftformDiv {
        margin-bottom: 20px;
    }

    .orderDetailDiv, .dumpsiteDiv {
        padding-right: 15px;
    }

    .dumpsiteDiv {
        padding-top: 0px;
    }


    .invoicesSectionDiv {
        padding-top: 20px;
    }

    .calenderRow {
        flex-direction: column;
    }

    .rmMapCol {
        padding-left: 15px;
    }

    .productLocationCol {
        padding-left: 15px;
        margin-top: 10px;
    }
    .productDetailCol {
        margin-top: 10px;
    }

    .nrUnassignedOrderCol, .nrRouteCol {
        padding-right: 15px;
    }

    .calenderCol {
        margin-top: 0px;
    }

    .updateCCBtn {
        margin-top: 20px;
    }

    .subscriptionMainDiv .row {
        padding-left: 15px;
        padding-right: 15px;
    }

    .cancelSubscriptionBtnDiv {
        display: flex;
        justify-content: flex-end;
    }

    /*.inputfieldDiv {
        display: flex;
        justify-content: flex-end;
    }

    .addNewOrderDiv {
        display: flex;
        justify-content: flex-end;
    }*/

    .profileBgDiv {
        display: flex;
        justify-content: center !important;
    }

    .logoDiv {
        border-right: none;
    }

    .bodyMainDiv {
        padding-right: 32px;
    }

    html, body {
        overflow-x: hidden;
    }

    .inputfieldDiv, #addNewOrder2, #chatDiv, .inputPadding {
        display: none !important;
    }

    .newAddNewBtn1 {
        display:none;

    }
    .newAddNewBtn2 {
        display: inline-block;
    }
    .subMenuDiv {
        right: 153px;
    }
    .topnavbar .nav-item .nav-link {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .quickAssignDiv .subMenuDiv {
        right: 148px;
        top: 11px;
    }


}




@media only screen and (max-width: 1016px) {
    .headerinputfield {
        width: 200px;
    }
}





@media only screen and (max-width: 1244px) {
    .ContentDetailsDiv {
        margin-right: 15px;
        margin-left: 15px;
        padding-left: 2px;
        padding-right: 2px;
    }

    .contentDetailschildDiv {
        padding-left: 15px;
        padding-right: 2px;
    }

    .iconMainDiv {
        width: 83%;
    }


}

@media only screen and (max-width: 1130px) {
    .contentBtnDiv {
        padding-left: 30px;
    }

    .contentBtnDiv .completedBtn, .contentBtnDiv .orderIssueBtn, .contentBtnDiv .returnDetailBtn {
        margin-right: 4px !important;
    }


}

@media only screen and (max-width: 1239px) {
    .subscriptionMainDiv .col-lg-3.text-right {
        padding-right: 20px;
    }


}

@media only screen and (max-width: 1366px) {
    .searchProfileDetailDiv {
        font-size: 12px;
        /*width: 69% !important;*/
        /*margin-bottom: 20px;*/
    }

    .searchNumberDiv small {
        /*width: 96% !important;*/
    }

    .ulfixed .search-dealoptions li span:first-child {
        /*width: 63%;*/
    }


}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .profileBgDiv {
        margin-right: 25px;
    }
}






