
/** system message **/
#mbsmessage, .system_message{position:fixed; left: 50%; transform:translate(-50%,0); -webkit-transform:translate(-50%,0); -ms-transform:translate(-50%,0); bottom:25px;width: auto;margin: 0;box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.07);z-index: 1001;}
#mbsmessage .msg-content{
	min-width:200px;
  line-height: 1.3;
	/* max-width:250px; */
	}

.div_error{text-align:left;padding:20px 40px 20px 60px;position:relative; color: #fff; line-height: normal;
background: url(../images/icon--attention.svg) no-repeat 15px 15px #f35f5f; background-size:30px;}
.div_error li{font-weight: 300;font-size: 14px; color:inherit; position: relative; padding:0 0 5px 0;}


.div_info{font-weight: normal;padding:20px 40px 20px 60px;position:relative; color: #fff;
background: url(../images/icon--info.svg) no-repeat 15px 15px #02b4d1; background-size:30px;}
.div_info li{font-weight: 300; font-size: 1em; position: relative;padding:0 0 5px 0;color: inherit; }
.div_info li a{font-weight: normal;text-decoration: none; color: #fff; cursor: default;}

.div_msg{font-weight: normal;padding:20px 40px 20px 60px;position:relative;color: #fff;
background: url(../images/icon--success.svg) no-repeat 15px 15px #00b6ad; background-size:30px;}
.div_msg li{font-weight: 300; font-size: 1em; position: relative;padding:0 0 5px 0;color: inherit; }
.div_msg li a{font-weight: normal; font-size: 13px; text-decoration: none; color: #fff; cursor: default;}

.div_info li:last-child, .div_error li:last-child, .div_msg li:last-child{padding-bottom:0;}


/* validation error messages */
.error{border-color: #f25454!important;}
.errorlist{margin: 0; list-style: none; padding:2px 10px 4px; position: relative; background: #fdf7f6;}
.errorlist li a{color: #f44336;font-size:11px; text-transform:uppercase; text-decoration: none;}
.errorlist li:last-child{padding-bottom:0;}
.errorlist li{font-size:12px;position:relative;text-align: left;}


/* alerts */
.alert {font-size: 1em; color:#fff; width: 100%; position: relative;padding:10px 40px 10px 44px !important; margin-bottom: 18px;border: 1px solid transparent;}
.alert.alert--positioned-bottom {left: 20px; bottom:25px;}
.alert.alert--positioned-top {right: 20px; top:25px; left: auto!important; bottom:auto!important;}

.alert p{color: inherit;}
.alert h5{font-size: 18px;font-weight: 500;  padding: 0;color: inherit;}
.alert .close, .system_message .close{opacity: 0.3;}
.alert .close:hover,.system_message .close:hover{opacity:1;}

/* .close{ z-index: 1; width:20px; height: 20px; position:absolute; right: 10px; top: 10px; text-align: center; line-height: 18px; */
  #mbsmessage .close {
    z-index: 1;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    text-align: center;
    line-height: 18px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(
45deg
);
    transform: rotate(
45deg
);
}
/* -ms-transform: rotate(45deg);-webkit-transform: rotate(45deg);transform: rotate(45deg);} */
.close:before{width:3px; height: 15px; left: 50%; margin: 0 0 0 -2px; position: absolute; top:2px; content: ""; background: #fff;}
.close:after{width:15px; height:3px; left:2px; top: 50%; margin:-2px 0 0 0; position: absolute; content: ""; background: #fff;}



.alert h4, .alert p {margin: 0;color: inherit;}
.alert > p,.alert > ul {margin-bottom: 0;}
.alert > p + p {margin-top: 5px;}

.alert--success {background: url(../images/icon--success.svg) no-repeat 15px 16px #60B5EE; background-size:30px;}
.alert--info {background: url(../images/icon--info.svg) no-repeat 15px 16px #02b4d1; background-size:30px;}
.alert--warning {background: url(../images/icon--warning.svg) no-repeat 15px 16px #f3c532; background-size:30px;}
.alert--danger {background: url(../images/icon--attention.svg) no-repeat 15px 16px #f35f5f; background-size:30px;}
.alert--process{background:#333;}


.alert--process:before {content:"";  border-radius: 50%;
  width:20px;
  height: 20px;display: inline-block;
  position: absolute; left:15px;top:10px;
  border-top:3px solid rgba(255, 255, 255, 0.2);
  border-right:3px solid rgba(255, 255, 255, 0.2);
  border-bottom:3px solid rgba(255, 255, 255, 0.2);
  border-left:3px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.alert--small.alert--info{background: url(../images/icon--info-colored.svg) no-repeat 0 2px; background-size:14px; color: #02b4d1;
    padding: 0 0 0 20px;display: block;font-size:85%;margin: 0 0 5px 0;}

.alert--small.alert--danger{background: url(../images/icon--attention-colored.svg) no-repeat 0 2px; background-size:14px; color: #f35f5f;
    padding: 0 0 0 20px;display: block;font-size:85%;margin: 0 0 5px 0;}

.alert--small.alert--warning{background: url(../images/icon--warning-colored.svg) no-repeat 0 2px; background-size:14px; color: #f3c532;
    padding: 0 0 0 20px;display: block;font-size:85%;margin: 0 0 5px 0;}

.alert--small.alert--success{background: url(../images/icon--success-colored.svg) no-repeat 0 2px; background-size:14px; color: #00b6ad;
    padding: 0 0 0 20px;display: block;font-size:85%;margin: 0 0 5px 0;}




@media(max-width:767px){
    #mbsmessage, .system_message{ left: 10px; right: 10px; width: auto; transform: none; -webkit-transform: none;}
	
	
}

/* Alert message css start*/
.dialog_box_wrap.active {
  z-index: 99999;
  opacity: 1;
}
.dialog_box_wrap {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
}
.dialog_overlay {
  background-color: black;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.dialog_box {
  position: absolute;
  left: 50%;
  top: 30%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.dialog_box_wrap.active .dialog_box_content[data-animation=pop] {
  -webkit-animation: showSweetAlert 0.3s;
  animation: showSweetAlert 0.3s;
}
.dialog_box_wrap.active .dialog_box_content[data-animation=pop] {
-webkit-animation: showSweetAlert 0.3s;
animation: showSweetAlert 0.3s; }

.dialog_box_wrap.active .dialog_box_content[data-animation=none] {
-webkit-animation: none;
animation: none; }

/*
* Animations
*/
@-webkit-keyframes showSweetAlert {
0% {
transform: scale(0.7);
-webkit-transform: scale(0.7); }
45% {
transform: scale(1.05);
-webkit-transform: scale(1.05); }
80% {
transform: scale(0.95);
-webkit-transform: scale(0.95); }
100% {
transform: scale(1);
-webkit-transform: scale(1); }
}

@keyframes showSweetAlert {
0% {
transform: scale(0.7);
-webkit-transform: scale(0.7); }
45% {
transform: scale(1.05);
-webkit-transform: scale(1.05); }
80% {
transform: scale(0.95);
-webkit-transform: scale(0.95); }
100% {
transform: scale(1);
-webkit-transform: scale(1); }
}
#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: left;
}
#facebox .popup {
  background: #fff;
  padding: 20px;
  min-height: 300px;
  position: relative;
  / border: 3px solid rgba(0,0,0,0); /
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  / -webkit-box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1); /
  / -moz-box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1); /
  / box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1); /
}
#facebox .fbminwidth {
  max-width: 900px;
}
#facebox .contentbx {
  display: block;
  / width: 370px; /
  min-width: 600px;
  padding: 10px 20px 10px 10px;
  background: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
#facebox .section {
  margin: 0;
  width: 100%;
  display: inline-block;
  margin: 0px 0 0;
  border-radius: 5px;
  position: relative;
  background: #fff;
  box-shadow: none;
}
#facebox .section h4{
text-align:center
}
#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
background: rgba(0,0,0,0.7);
  z-index: 99;
}
.facebox_overlayBG {
  background-color: #edf0f5;
  z-index: 99;
}
.facebox_hide {
  z-index: -100;
}
#facebox .close {
  position: absolute;
  top: 0px;
  left: 0px;
  right: auto;
  text-align: left;
  width: auto;
  line-height: 1;
  transform: none;
  padding: 10px;
  / background: rgb(255, 255, 255); /
  border-radius: 5px;
  color: #000;
}
#facebox .close img{width:52%}
.dialog_box_content {
  position: relative;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  max-width: 500px;
  min-width: 500px;
  padding: 20px;
}
.dialogicon {
  display: table;
  margin: 0 auto;
}
.dialogicon .icon.orange {
  color: #eb8f34;
  border: 2px solid #eb8f34;
}
.dialogicon .icon {
  font-size: 27px;
  line-height: 1;
}
.dialogicon .icon {
  border-radius: 100%;
  display: block;
  height: 40px;
  margin: 0 auto 10px;
  position: relative;
  text-align: center;
  width: 40px;
}
.icon {
  cursor: pointer;
}
/* Alert message css end*/

/* Alert message button css start*/
.btn-default {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f3f3f3));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3', GradientType=0 );
  border: 1px solid #ddd;
  color: #737373;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.themebtn {
  font-size: 14px;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 25px;
  border: 0 none;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  vertical-align: middle;
  border: none;
  min-height: 40px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

/* Alert message button css end*/