body,
    html {
      margin: 0;
      padding: 0;
      height: 100%;
      background: linear-gradient(
        179.68deg
        , #4f5cb5 27.24%, #4e59a9 96.67%);
    }

    .user_card {
      height: 400px;
      width: 350px;
      margin-top: auto;
      margin-bottom: auto;
      background: #FFF;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 5px;

    }
    .form-control {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.874rem + 2px);
      padding: 0.437rem 0.75rem 0.437rem 2.5rem;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.5;
      color: #111;
      background-color: #fff !important;
      background-clip: padding-box;
      border: 1px solid silver !important;
      border-radius: 10px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .form-control:focus {
    color: #111 !important
  }
    .brand_logo_container {
      position: absolute;
      height: 170px;
      width: 170px;
      top: -75px;
      border-radius: 50%;
      /* background: #60a3bc;
      padding: 10px; */
      text-align: center;
    }

    .brand_logo {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      border: 2px solid white;
    }

    .form_container {
      margin-top: 100px;
    }

    .login_btn {
      width: 100%;
      background: #4e59a9 !important;
      color: #fff !important;
      border-radius: 10px;
    }

    .login_btn:focus {
      box-shadow: none !important;
      outline: 0px !important;
    }

    .login_container {
      padding: 0;
    }

    .input-group-text {
      background: none !important;
      color: #111 !important;
      border: 0 !important;
      border-radius: 0.25rem 0 0 0.25rem !important;
    }

    .input_user,
    .input_pass:focus {
      box-shadow: none !important;
      outline: 0px !important;
    }

    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
      background-color: #6AC7EE !important;
    }

    .input-group-append {
      width: auto;
      display: flex;
    position: absolute;
    z-index: 9;
    }