<% include layouts/header.ejs %>

    <div class="bodyMainDiv">
        <div class="breadcrumbBorder">
            <ol class="breadcrumb topbreadcrumb">
                <li class="breadcrumb-item"><a href="<%=  base_url %>/dashboard/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Employee Management</li>
            </ol>
        </div>
        <div class="row btnrow">
            <div class="col-lg-12">
                <div class="d-flex justify-content-end">
                   
                    <div>
                        <a href="<%=  base_url %>/employee/add" class="btn btn-light addNewBtn">Add New Employee</a>
                    </div>
                    <div>
                        <a href="<%=  base_url %>/leave/add" class="btn btn-light addNewBtn">Add Leave</a>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 emptableDiv">
                <div class="table-responsive requesttable firstTable secondTableDiv indexScroll">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Salary</th>
                                <th scope="col">Leaves</th>
                                <th scope="col">Salary calculation</th>
                                <th scope="col" colspan="2">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(data && data.length > 0 ){ %>
                                <% data.forEach(function(employee){%>
                                    <tr id="<%= employee.id %>" class="tablerow">
                                        <td><%= employee.first_name %></td>
                                        <td><%= employee.last_name %></td>
                                        <td><%= encrypt.decrypt(employee.email) %></td>
                                        <td><%= employee.salary %></td>
                                        <td><a style="color: blue;" href="<%=  base_url %>/leaves/<%= employee.id %>"><%= employee.total_leave %></a></td>
                                        <td><a href="#chargeCustomer<%= employee.id %>" data-toggle="modal" class="dollarIcon"><i class="fa fa-usd plusIcon" aria-hidden="true"></i></a></td>
                                        <td>
                                            <a href="<%=  base_url %>/employee/edit/<%= employee.id %>"><img
                                                    class="editIcon" src="<%=  base_url %>/public/image/edit-32.png"
                                                    alt="img Icon"></a>
                                                    
                                            <a href="javascript:;" class="deleteMsg" data-id="<%= employee.id %>"><i
                                                    class="fa fa-trash actionIcons" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                    <div id="chargeCustomer<%= employee.id %>" class="modal fade" tabindex="-1" role="dialog">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Final Salary</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body formBackgroundDiv">
                        
                                                    <form>
                                                        <div class="col-lg-12 col-md-12 col-sm-12 extrachargeDiv px-0">
                                                            <div>
                                                                <label>Salary after diduction of leave</label>
                                                                <% 
                                                                   var perDay = employee.salary / 30;
                                                                   var workingDay = 30 - employee.total_leave;
                                                                   var finalSalary = perDay * workingDay;
                                                                %>
                                                                <input type="number" class="form-control" value="<%= finalSalary.toFixed(2); %>">
                                                            </div>
                                                            
                        
                                                            
                        
                                                        </div>
                                                    </form>
                        
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                <% }) %>
                            <% }else{ %>
                                    <tr class="tablerow">
                                        <td colspan="3" style="text-align: left !important;color: red;">No
                                                    Record Found!</td>
                                    </tr>
                            <% } %>
                
                            
                
                        </tbody>
                    </table>
                </div>
            </div>
            <!--emptableDiv div close-->
        </div>
        <!--row div close-->

    </div>
    <!--bodyMainDiv close-->

    <% include layouts/footer.ejs %>