<% include layouts/header.ejs %>

<div class="bodyMainDiv">
    <div class="breadcrumbBorder">
        <ol class="breadcrumb topbreadcrumb">
            <li class="breadcrumb-item"><a href="<%=  base_url %>/dashboard/">Home</a></li>
            <li class="breadcrumb-item"><a href="<%=  base_url %>/settings/employee">Employee Management</a></li>
            <li class="breadcrumb-item active" aria-current="page"><% if(employee.id){ %> Edit <% }else{ %> Add <% } %> Employee</li>
        </ol>
    </div>
    <div class="d-flex justify-content-end backBtn mb-2"><a href="<%=  base_url %>/employee"><i class="fa fa-angle-left" aria-hidden="true"></i><i class="fa fa-angle-left" aria-hidden="true"></i> Back</a></div>

    <div class="row">
        <div class="col-lg-12">


            <div class="formSectionWrapper pb-0">
                <form method="post" action="<%= base_url %>/employee/create" id="form">
                    <div>
                        <div class="personalInformationSection float-left">
                            <div class="row">
                                <div class="col-lg-12"><h5 class="formHeading"><% if(employee.id){ %> Edit <% }else{ %> Add <% } %> Employee</h5></div>
                            </div>
                            <div class="row">
                                <input type="hidden" name="id" value="<%= employee.id %>" class="form-control" />
                                <div class="col-lg-12">
                                    <div class="sectionField">
                                        <label>First Name*</label>
                                        <input type="text" class="form-control" name="first_name" value="<%= employee.first_name %>">
                                        <span class="custom_error" id="first_name"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="sectionField">
                                        <label>Last Name*</label>
                                        <input type="text" class="form-control" name="last_name" value="<%= employee.last_name %>">
                                        <span class="custom_error" id="last_name"></span>
                                    </div>
                                </div>
                                
                                <div class="col-lg-12">
                                    <div class="sectionField">
                                        <label>Email*</label>
                                        <input type="email" class="form-control" name="email" <% if(employee.email){%> value="<%= encrypt.decrypt(employee.email) %> <% } %>">
                                        <span class="custom_error" id="email"></span>
                                    </div>
                                </div>
                                <% if(!employee.id){ %>
                                    <div class="col-lg-12">
                                        <div class="sectionField">
                                            <label>Password*</label>
                                            <input type="password" class="form-control" name="password" value="">
                                            <span class="custom_error" id="password"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="sectionField">
                                            <label>Confirm Password*</label>
                                            <input type="password" class="form-control" name="confirm_password" value="">
                                            <span class="custom_error" id="confirm_password"></span>
                                        </div>
                                    </div>
                                    <% } %>
                                <div class="col-lg-12">
                                    <div class="sectionField">
                                        <label>Salary*</label>
                                        <input type="number" class="form-control" name="salary" value="<%= employee.salary %>">
                                        <span class="custom_error" id="salary"></span>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-12 text-right mt-3 ">
                                            <button class="btn btn-primary sectionSaveBtn" type="submit" value="submit" id="submit_btn">Submit</button>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                    
                </form>
            </div><!--formSectionWrapper div close-->
        </div><!--col-lg-12 div close-->
    </div><!--row div close-->

</div><!--body main div close-->

<% include layouts/footer.ejs %>