<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from themepixels.me/demo/cassie/pages/page-signin.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 14 Aug 2020 05:50:41 GMT -->

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Responsive Bootstrap 4 Dashboard and Admin Template">
    <meta name="author" content="ThemePixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="<%= base_url %>/public/img/logo.png">

    <title><%= title %></title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- template css -->
    <% if (commonCss) { %>
    <% commonCss.forEach(function(commonCssfile){ %>
    <link rel="stylesheet" href="<%= base_url %>/public/commonCss/<%= commonCssfile %>.css">
    <% }) %>
    <% } %>

    <% if (cdnCSS) { %>
    <% cdnCSS.forEach(function(cdnCSS){ %>
    <link rel="stylesheet" href="<%= cdnCSS %>">
    <% }) %>
    <% } %>

    <% if (csslinks) { %>
    <% csslinks.forEach(function(csslinksfile){ %>
    <link rel="stylesheet" href="<%= base_url %>/public/css/<%= csslinksfile %>.css">
    <% }) %>
    <% } %>

    <style>
      .custom_error {
        display: block;
        font-size: 9px;
        color: red;
        margin-left: 33px;
        width: 100%;
      }
    
      .page-error {
        background: linear-gradient(179.68deg,
            #4f5cb5 27.24%, #4e59a9 96.67%);
      }
    
      .sidebar-logo {
        line-height: .8;
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 2px;
        line-height: 1;
        height: 100px;
        left: 15px;
      }
    
      .error-panel {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 20px;
      }
    
      .error-panel .svg-wrapper {
        width: 200px;
      }
    
      .error-panel .svg-wrapper object {
        width: 100%;
      }
    
      .mg-b-40 {
        margin-bottom: 40px;
      }
    
      .wd-200 {
        width: 200px;
      }
    
      .btn-white {
        background-color: #fff;
        border-color: #d6d8e5;
        color: #575d78;
      }
    
      .btn-block {
        padding: .375rem .75rem !important;
      }
    
      @media (min-width: 576px) {
        .error-panel .svg-wrapper {
          width: 300px;
        }
      }
    </style>
</head>

<body>

    <body class="page-error">
        <% if(sessionData !== undefined ){ %>
        <div class="error-panel">
          <a href="<%= base_url %>/dashboard/" class="sidebar-logo mg-b-40" style="text-align: center;
            width: 100%;
            display: block;
            margin-bottom: 100px;"><img style="width: 10%;" src="<%= base_url %>/public/img/logo.png"></a>
    
          <div class="svg-wrapper mg-b-40">
            <object type="image/svg+xml" data="<%= base_url %>/public/img/notfound.svg"></object> 
          </div>
          <h1 class="tx-28 tx-sm-36 tx-numeric tx-md-40 tx-semibold" style="color: #b9b2b2;">404 Page Not Found</h1>
          <h4 class="tx-16 tx-sm-18 tx-md-24 tx-light mg-b-20 mg-md-b-30" style="color: #b9b2b2;">Oopps. The page you were looking for doesn't exist.</h4>
          <p class="tx-12 tx-sm-13 tx-md-14 tx-color-04" style="color: #b9b2b2;">You may have mistyped the address or the page may have moved. Try searching below.</p>
    
          <div class="wd-200">
            <a href="<%= base_url %>/dashboard/" class="btn btn-block btn-white">Back to Dashboard</a>
          </div><!-- search-form -->
        </div><!-- error-panel -->
        <% } %>
       
        <script>
          $(function(){
    
            'use strict'
    
            feather.replace();
    
          })
        </script>
      </body>

    
<% if (commonJs) { %>
    <% commonJs.forEach(function(commonJsfile){ %>
    <script src="<%= base_url %>/public/commonJs/<%= commonJsfile %>.js"></script>
    <% }) %>
    <% } %>
    
    <% if (cdnJs) { %>
    <% cdnJs.forEach(function(cdnJsfile){ %>
    <script src="<%= cdnJsfile %>"></script>
    <% }) %>
    <% } %>
    
    <% if (jslinks) { %>
    <% jslinks.forEach(function(jslinksfile){ %>
    <script src="<%= base_url %>/public/js/<%= jslinksfile %>.js"></script>
    <% }) %>
    <% } %>
    
</body>

</html>