<% include layouts/header.ejs %>

<div class="bodyMainDiv">
    <div class="breadcrumbBorder">
        <ol class="breadcrumb topbreadcrumb">
            <li class="breadcrumb-item"><a href="<%=  base_url %>/dashboard/">Home</a></li>
            <li class="breadcrumb-item"><a href="<%=  base_url %>/settings/employee">Employee Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Leave</li>
        </ol>
    </div>
    <div class="d-flex justify-content-end backBtn mb-2"><a href="<%=  base_url %>/employee"><i class="fa fa-angle-left" aria-hidden="true"></i><i class="fa fa-angle-left" aria-hidden="true"></i> Back</a></div>

    <div class="row">
        <div class="col-lg-12">
            <div class="formSectionWrapper pb-0">
                <form method="post" action="<%= base_url %>/leave/create" id="leaveForm">
                    <div>
                        <div class="personalInformationSection float-left">
                            <div class="row">
                                <div class="col-lg-12"><h5 class="formHeading">Add Leave Reason</h5></div>
                            </div>
                            <div class="row">
                                <input type="hidden" name="id" value="" class="form-control" />
                                
                                <div class="col-lg-12">
                                    <label>Leave Type*</label><br>
                                    <input type="radio" name="leave_type" 
                                         value="1">
                                        <label class="mr-3">Half</label>
                                        <input type="radio" name="leave_type" 
                                             value="2">
                                            <label>Full</label><br>
                                            <span class="custom_error" id="leave_type"></span>
                                </div>
                                <div class="col-lg-12">
                                    <div class="sectionField">
                                        <label>Leave Date*</label>
                                        <input type="date" class="form-control" name="leave_date" id="leaveDate" value="">
                                        <span class="custom_error" id="leave_date"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <label>Employee_name*</label>
                                    <select class="form-control" id="emp" name="employee_name">
                                        <option value="">Select Employee</option>
                                        <% 
                                            employee.forEach(function(emp) { %>
                                        <option value="<%= emp.id %>"><%= emp.first_name %></option>
                                        <%  }) %>
                                    </select>
                                    <span class="custom_error" id="employee_name"></span>
                                </div>
                                <div class="col-lg-12">
                                    <div class="sectionField">
                                        <label>reason*</label>
                                        <input type="text" class="form-control" name="reason" value="">
                                        <span class="custom_error" id="reason"></span>
                                    </div>
                                </div>
                            
                                
                                
                               
                                

                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-12 text-right mt-3 ">
                                            <button class="btn btn-primary sectionSaveBtn" type="submit" value="submit" id="submit_btn">Submit</button>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                    
                </form>
            </div><!--formSectionWrapper div close-->
        </div><!--col-lg-12 div close-->
    </div><!--row div close-->

</div><!--body main div close-->

<% include layouts/footer.ejs %>