<% include layouts/header.ejs %>

    <div class="bodyMainDiv">
        <div class="breadcrumbBorder">
            <ol class="breadcrumb topbreadcrumb">
                <li class="breadcrumb-item"><a href="<%=  base_url %>/dashboard/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Employee Management</li>
            </ol>
        </div>
        <div class="row btnrow">
            <div class="col-lg-12">
                <div class="d-flex justify-content-end">
                   
                    

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 emptableDiv">
                <div class="table-responsive requesttable firstTable secondTableDiv indexScroll">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Leave Type</th>
                                <th scope="col">Leave Date</th>
                                <th scope="col">Reason</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(data && data.length > 0 ){ %>
                                <% data.forEach(function(leaves){%>
                                    <tr id="<%= leaves.id %>" class="tablerow">
                                        <td><%= leaves.leave_type == 1 ? "Half Day" : "Full Day" %></td>
                                        <td><%= common_function.formateDate(leaves.leave_date) %></td>
                                        <td><%= leaves.reason %></td>
                                        
                                    </tr>
                                <% }) %>
                            <% }else{ %>
                                    <tr class="tablerow">
                                        <td colspan="3" style="text-align: left !important;color: red;">No
                                                    Record Found!</td>
                                    </tr>
                            <% } %>
                
                
                
                        </tbody>
                    </table>
                </div>
            </div>
            <!--emptableDiv div close-->
        </div>
        <!--row div close-->

    </div>
    <!--bodyMainDiv close-->

    <% include layouts/footer.ejs %>