<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        var base_path = '<%= base_url %>/';
    </script>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Rent this 360">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="<%= base_url %>/public/img/logo.png">

    <title><%= title %></title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- template css -->
    <% if (commonCss) { %>
    <% commonCss.forEach(function(commonCssfile){ %>
    <link rel="stylesheet" href="<%= base_url %>/public/commonCss/<%= commonCssfile %>.css">
    <% }) %>
    <% } %>

    <% if (cdnCSS) { %>
    <% cdnCSS.forEach(function(cdnCSS){ %>
    <link rel="stylesheet" href="<%= cdnCSS %>">
    <% }) %>
    <% } %>

    <% if (csslinks) { %>
    <% csslinks.forEach(function(csslinksfile){ %>
    <link rel="stylesheet" href="<%= base_url %>/public/css/<%= csslinksfile %>.css">
    <% }) %>
    <% } %>

    <style>
        .custom_error {
            display: block;
            font-size: 9px;
            color: red;
            margin-left: 33px;
            width: 100%;
        }
        ::placeholder {
  color: silver  !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:  silver  !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color:  silver  !important;
}
    </style>
</head>

<body>

    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="<%= base_url %>/public/img/logo.png" class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form method="post" action="<%= base_url %>/login/process" id="form"
                        onsubmit="login(); return(false);">
                        <div class="input-group ">
                            <div class="input-group-append">
                                <span class="input-group-text"><img style="width: 21px;" src="<%= base_url %>/public/img/username.png"></span>
                            </div>
                            <input type="text" name="email"   class="form-control input_user"  placeholder="Email">
                            
                        </div>
                        <small class="custom_error  mb-3" id="email"></small>
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text"><img style="width: 21px;" src="<%= base_url %>/public/img/password.png"></span>
                            </div>
                            <input type="password" name="password"   class="form-control input_pass"
                                placeholder="Password">
                            
                        </div>
                        <small class="custom_error mb-3" id="password"></small>
                        <!-- <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customControlInline">
                                <label class="custom-control-label" for="customControlInline">Remember me</label>
                            </div>
                        </div> -->
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button type="submit" id="submit_btn" name="button" class="btn login_btn">Login</button>
                        </div>
                       
                    </form>
                </div>

                <div class="mt-4">

                    <div class="d-flex justify-content-center links">
                        <a href="#" style="color: #288db7;">Forgot your password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="mbsmessage" class="alert alert--danger" style="display: none">
        <div>
            <div class="msg-content"></div>
            <a href="javascript:;" class="close" data-widget="remove"></a>
        </div>
    </div>

    
<% if (commonJs) { %>
    <% commonJs.forEach(function(commonJsfile){ %>
    <script src="<%= base_url %>/public/commonJs/<%= commonJsfile %>.js"></script>
    <% }) %>
    <% } %>
    
    <% if (cdnJs) { %>
    <% cdnJs.forEach(function(cdnJsfile){ %>
    <script src="<%= cdnJsfile %>"></script>
    <% }) %>
    <% } %>
    
    <% if (jslinks) { %>
    <% jslinks.forEach(function(jslinksfile){ %>
    <script src="<%= base_url %>/public/js/<%= jslinksfile %>.js"></script>
    <% }) %>
    <% } %>
    
</body>

</html>