<div id="loadingProgress">
    <span>
        Please Wait...
    </span>
</div>
<div id="mbsmessage" class="alert alert--danger" style="display: none">
	<div>
		<div class="msg-content"></div>
		<a href="javascript:;" class="close" data-widget="remove"></a>
	</div>
</div>
<% if (commonJs) { %>
<% commonJs.forEach(function(commonJsfile){ %>
<script src="<%= base_url %>/public/commonJs/<%= commonJsfile %>.js"></script>
<% }) %>
<% } %>

<% if (cdnJs) { %>
<% cdnJs.forEach(function(cdnJsfile){ %>
<script src="<%= cdnJsfile %>"></script>
<% }) %>
<% } %>

<% if (jslinks) { %>
<% jslinks.forEach(function(jslinksfile){ %>
<script src="<%= base_url %>/public/js/<%= jslinksfile %>.js"></script>
<% }) %>
<% } %>


<div class="row footer align-items-center">
    <div class="col-lg-6 col-md-12 col-sm-12 text-center">
        <h6>© 2020 Rent this 360.</h6>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-end footerLink">
        <a href="#">Dashboard</a>
        <a href="#">Services</a>
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
    </div>
</div>
</div>
</div>
</body>
</html>