
<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Rent this 360">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="<%= base_url %>/public/img/logo.png">
  <title><%= title %></title>

  <!-- template css -->
  <% if (commonCss) { %>
    <% commonCss.forEach(function(commonCssfile){ %>
      <link rel="stylesheet" href="<%= base_url %>/public/commonCss/<%= commonCssfile %>.css">
    <% }) %>
  <% } %>

  <% if (cdnCSS) { %>
    <% cdnCSS.forEach(function(cdnCSS){ %>
      <link rel="stylesheet" href="<%= cdnCSS %>">
    <% }) %>
  <% } %>

  <% if (csslinks) { %>
    <% csslinks.forEach(function(csslinksfile){ %>
      <link rel="stylesheet" href="<%= base_url %>/public/css/<%= csslinksfile %>.css">
    <% }) %>
  <% } %>
  <%
  function moneyFormat(price, sign = '$') {
    const pieces = parseFloat(price).toFixed(2).split('')
    let ii = pieces.length - 3
    while ((ii-=3) > 0) {
      pieces.splice(ii, 0, ',')
    }
    return sign + pieces.join('')
  }
  %>
<script>
    var base_path = '<%= base_url %>/';
</script>
</head>

<body>
  <div class="row">
      <div class="col-lg-12 bodymaincolDiv">
          <div class="">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-between headerDiv">
                  
                  <div class="dropdown headerrightDiv profileBgDiv">
                      <a class="btn btn-white dropdown-toggle d-flex align-items-center px-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <h6 class="mt-2"> </h6><img src="<%= base_url%>/public/image/img7.jpg">
                      </a>

                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="<%= base_url%>/login/logout">Logout</a>
                      </div>

                  </div>
              </div>
          </div>

          

          